{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}

{% macro renderDateField(fieldName, field, options, values, errors) %}

  {{ mojDatePicker({
    name: fieldName,
    id: fieldName,
    label: {
      text: field.label,
      attributes: {
        id: fieldName + "__label"
      }
    },
    hint: { text: field.hint } if field.hint else undefined,
    maxDate: now() | shortDate,
    value: values[fieldName],
    errorMessage: { text: errors[fieldName].message } if errors[fieldName] else undefined
  }) }}

{% endmacro %}
