{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% macro renderTextareaField(fieldName, field, options, values, errors) %}

  {{ govukTextarea({
    name: fieldName,
    id: fieldName,
    label: {
      text: field.label,
      attributes: {
        id: fieldName + "__label"
      }
    },
    hint: { text: field.hint } if field.hint else undefined,
    rows: 4,
    value: values[fieldName],
    errorMessage: { text: errors[fieldName].message } if errors[fieldName] else undefined
  }) }}

{% endmacro %}
