{% macro descriptionChunk(name, date, text) %}
  <li class="app-description-chunk">
    <strong>{{ name }}</strong>
    <br />
    <small class="govuk-!-font-size-16">{{ date | longDateAndTime }}</small>
    <p>
      {{ text | escape | nl2br }}
    </p>
  </li>
{% endmacro %}

{% macro renderDescriptions(report, usersLookup) %}
  <ul class="app-description-chunks">
    {{ descriptionChunk(usersLookup[report.reportedBy].name or report.reportedBy, report.reportedAt, report.description) }}
    {% if report.descriptionAddendums.length != 0 %}
      {% for addendum in report.descriptionAddendums %}
        {{ descriptionChunk(addendum | nameOfPerson, addendum.createdAt, addendum.text) }}
      {% endfor %}
    {% endif %}
  </ul>
{% endmacro %}
