{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/wip/checkedItemsField.njk" import renderCheckedItemsField %}
{% from "components/wip/dateField.njk" import renderDateField %}
{% from "components/wip/textAreaField.njk" import renderTextAreaField %}
{% from "components/wip/timeFields.njk" import renderTimeFields %}

{% macro renderField(fieldName, field, options, values, errors) %}

  {% if field.component === "govukRadios" or field.component === "govukCheckboxes" %}

    {% if "items" not in field %}
      {% panic "Field " + fieldName + " is missing items" %}
    {% endif %}

    {{ renderCheckedItemsField(fieldName, field, options, values, errors) }}

  {% elif field.component === "mojDatePicker" %}

    {{ renderDateField(fieldName, field, options, values, errors) }}

  {% elif field.component === "appTime" %}

    {{ renderTimeFields(fieldName, field, options, values, errors) }}

  {% elif field.component === "govukTextarea" %}

    {{ renderTextAreaField(fieldName, field, options, values, errors) }}

  {% elif field.component === "hidden" %}

    <input type="hidden" name="{{ fieldName }}" value="{{ values[fieldName] | default("") }}" />

  {% elif field.component === "govukInput" %}

    {{ govukInput({
      name: fieldName,
      id: fieldName,
      label: {
        text: field.label,
        classes: "govuk-label--m"
      },
      hint: { text: field.hint } if field.hint else undefined,
      value: values[fieldName],
      errorMessage: { text: errors[fieldName].message } if errors[fieldName] else undefined
    }) }}

  {% else %}

    {% panic "Field " + fieldName + " uses unknown component" %}

  {% endif %}

{% endmacro %}
