{% extends "partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "View management report" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      },
      {
        text: "Incident reporting",
        href: "/"
      },
      {
        text: "Management reporting",
        href: "/management-reporting"
      }
    ]
  }) }}
{% endblock %}

{% block pageStylesheets %}
  <link href="{{ "/assets/css/dpr.css" | assetMap }}" rel="stylesheet" />
{% endblock %}

{% block pageJavascript %}
  <script type="module" src="{{ "/assets/js/dpr.js" | assetMap }}"></script>
{% endblock %}
