{% extends "partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "View management report" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      },
      {
        text: "Incident reporting",
        href: "/"
      },
      {
        text: "Management reporting",
        href: "/management-reporting"
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}

  // Govuk Lib
  <script type="module" src="/assets/govuk/govuk-frontend.min.js"></script>
  <script type="module" src="/assets/js/govukInit.mjs"></script>

  // MoJ lib
  <script src="/assets/moj/all.js"></script>
  <script type="module" src="/assets/js/mojInit.mjs"></script>

  // DPR Lib
  <script type="module" src="/assets/dpr/all.js"></script>
  <script type="module" src="/assets/js/dprInit.mjs"></script>

{% endblock %}
