{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% if form and form.submitted and form.hasErrors %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: form.getErrorSummary(formId)
  }) }}
{% endif %}
