{% from "govuk/components/tag/macro.njk" import govukTag %}

<header class="hmpps-header" role="banner">
  <div class="hmpps-header__container">
    <div class="hmpps-header__title">
      <a class="hmpps-header__link hmpps-header__title__organisation-name" href="/">
        <picture class="hmpps-header__logo">
          <source type="image/svg+xml" srcset="/assets/images/moj-logotype-crest-2024.svg" />
          <img src="/assets/images/moj-logotype-crest-2024.png" alt="HMPPS crest" />
        </picture>
        HMPPS
      </a>

      <a class="hmpps-header__link hmpps-header__title__service-name" href="/">{{ applicationName }}</a>

      {% if environment %}
        <div class="govuk-phase-banner">
          {{ govukTag({
            text: environment | capitalize,
            attributes: { "data-qa": "header-environment-tag" }
          }) }}
        </div>
      {% endif %}
    </div>

    <nav aria-label="Account navigation">
      <ul class="hmpps-header__navigation">
        {% if user %}
          <li class="hmpps-header__navigation__item">
            <a data-qa="manageDetails" class="hmpps-header__link" href="/account-details" data-test="manage-account-link" rel="noopener noreferrer">
              <span data-qa="header-user-name">{{ user.displayName | initialiseName }}</span>
              <span class="hmpps-header__link__sub-text">Manage your details</span>
            </a>
          </li>
        {% endif %}

        <li class="hmpps-header__navigation__item">
          <a data-qa="signOut" class="hmpps-header__link" href="/sign-out">Sign out</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
