{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" />
{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }} – Digital Prison Services{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/js/jquery.min.js"></script>
  <script type="module" src="/assets/govuk/govuk-frontend.min.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script type="module" src="/assets/application.js"></script>
{% endblock %}
