{% extends "govuk/template.njk" %}

{% block head %}
  {% block pageStylesheets %}
    <link href="{{ "/assets/css/application.css" | assetMap }}" rel="stylesheet" />
  {% endblock %}

  {% if googleAnalyticsMeasurementId %}
    {# Global site tag (gtag.js) - Google Analytics 4  #}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsMeasurementId }}"></script>
    <script nonce="{{ cspNonce }}">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ googleAnalyticsMeasurementId }}', {
        active_case_load: '{{ user.activeCaseLoadId | default('') }}',
      });
    </script>
  {% endif %}

  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}

  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
  {% endif %}
{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }} – Digital Prison Services{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "partials/header.njk" %}
  {% endif %}
{% endblock %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "partials/footer.njk" %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {% block pageJavascript %}
    <script nonce="{{ cspNonce }}" type="module" src="{{ "/assets/js/application.js" | assetMap }}"></script>
  {% endblock %}
{% endblock %}
