{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if banners %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-two-thirds">

        {% for bannerType, banners in banners %}
          {% for banner in banners %}
            {% set html %}
              {% if banner.title %}
                <p class="govuk-notification-banner__heading">
                  {{ banner.title }}
                </p>
              {% endif %}
              {% if banner.content %}
                <p class="govuk-body">
                  {{ banner.content }}
                </p>
              {% endif %}
            {% endset %}

            {{ govukNotificationBanner({
              titleText: "Error" if bannerType == "error" else undefined,
              html: html,
              type: "success" if bannerType == "success" else null,
              classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-0 " + ("govuk-notification-banner--error" if bannerType == "error" else "")
            }) }}
          {% endfor %}
        {% endfor %}

      </div>
    </div>
  </div>
{% endif %}
