{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if banners %}
  {% for bannerType, banners in banners %}
    {% for banner in banners %}
      {% set html %}
        {% if banner.title %}
          <p class="govuk-notification-banner__heading">
            {{ banner.title }}
          </p>
        {% endif %}
        {% if banner.content %}
          <p class="govuk-body">
            {% if banner.content == "on_hold_banner" %}
              If you need to add further information to the report, you must contact the Operations Hub by email at <a href="mailto:hubnationaloperation@justice.gov.uk">hubnationaloperation@justice.gov.uk</a>
            {% else %}
              {{ banner.content }}
            {% endif %}
          </p>
        {% endif %}
      {% endset %}

      {{ govukNotificationBanner({
        titleText: "Error" if bannerType == "error" else undefined,
        html: html,
        type: "success" if bannerType == "success" else null,
        classes: "govuk-notification-banner--error" if bannerType == "error" else ""
      }) }}
    {% endfor %}
  {% endfor %}
{% endif %}
