{% extends "partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "macros/renderFields.njk" import renderFields %}

{% block beforeContent %}
  {% if backLink %}
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "partials/errorSummary.njk" %}

      <form id="form-wizard" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}" />

        {% call govukFieldset({
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {% block formFields %}
            {{ renderFields(options, values, errors) }}
          {% endblock %}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: saveButtonText or "Continue",
            name: "formAction",
            value: "continue",
            preventDoubleClick: true,
            type: "submit"
          }) }}

          {% if allowSaveAndExit %}
            {{ govukButton({
              text: "Save and exit",
              name: "formAction",
              value: "exit",
              preventDoubleClick: true,
              classes: "govuk-button--secondary",
              type: "submit"
            }) }}
          {% endif %}

          {% if cancelUrl %}
            <a href="{{ cancelUrl }}" class="govuk-link govuk-link--no-visited-state" data-qa="cancelLink">
              Cancel
            </a>
          {% endif %}
        </div>
      </form>

    </div>
  </div>
{% endblock %}
