generic-service:
  nameOverride: hmpps-incident-reporting
  productId: DPS021

  # serviceAccountName: "hmpps-incident-reporting"

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-incident-reporting
    tag: app_version # override at deployment time
    port: 3000

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-incident-reporting-cert
    modsecurity_enabled: true  # enable OWASP core rules then handle false positives by removing or tweaking rules to not block specific args or cookies
    modsecurity_audit_enabled: false
    modsecurity_snippet: |
      SecRuleEngine On
      {{ if .Values.ingress.modsecurity_audit_enabled -}}
      SecAuditEngine RelevantOnly
      SecAuditLog /var/log/nginx/error.log
      SecAuditLogType Serial
      {{ end -}}
      # team here grants access to the OpenSearch logs to delve into the cause of the blockage
      SecDefaultAction "phase:2,pass,log,tag:github_team=hmpps-incident-reporting,tag:namespace={{ .Release.Namespace }}"
      # Default is only GET HEAD POST OPTIONS so need to include PUT etc.
      SecAction "id:900200,phase:1,nolog,pass,t:none,setvar:tx.allowed_methods=GET HEAD POST OPTIONS PUT PATCH DELETE"
      # attack-protocol is 921 range
      SecRuleUpdateTargetByTag "attack-protocol" "!ARGS:/.*comment/"
      SecRuleUpdateTargetByTag "attack-protocol" "!ARGS:/.*description/"
      SecRuleUpdateTargetById 930100 "!ARGS:/.*comment/"
      SecRuleUpdateTargetById 930100 "!ARGS:/.*description/"
      SecRuleUpdateTargetById 930110 "!ARGS:/.*comment/"
      SecRuleUpdateTargetById 930110 "!ARGS:/.*description/"
      # attack-rce is 932 range
      SecRuleUpdateTargetByTag "attack-rce" "!ARGS:/.*comment/"
      SecRuleUpdateTargetByTag "attack-rce" "!ARGS:/.*description/"
      # attack-injection-php is 933 range
      SecRuleUpdateTargetByTag "attack-injection-php" "!ARGS:/.*comment/"
      SecRuleUpdateTargetByTag "attack-injection-php" "!ARGS:/.*description/"
      SecRuleUpdateTargetById 933210 "!ARGS:/.*description/"
      # attack-xss is 941 range
      SecRuleUpdateTargetByTag "attack-xss" "!ARGS:/.*comment/"
      SecRuleUpdateTargetByTag "attack-xss" "!ARGS:/.*description/"
      # attack-sqli is 942 range
      SecRuleUpdateTargetByTag "attack-sqli" "!ARGS:/.*comment/"
      SecRuleUpdateTargetByTag "attack-sqli" "!ARGS:/.*description/"
      SecRuleUpdateTargetById 942100 "!ARGS:/.*description/"
      SecRuleUpdateTargetById 942130 "!ARGS:/.*description/"
      SecRuleUpdateTargetById 942230 "!ARGS:/.*description/"
      SecRuleUpdateActionById 949110 "t:none,deny,status:406,logdata:%{SERVER_NAME}"
      SecRuleUpdateActionById 959100 "t:none,deny,status:406,logdata:%{SERVER_NAME}"

  livenessProbe:
    httpGet:
      path: /ping

  readinessProbe:
    httpGet:
      path: /ping

  env:
    NODE_ENV: "production"
    BUNYAN_NO_COLOR: "1"
    REDIS_ENABLED: "true"
    REDIS_TLS_ENABLED: "true"
    TOKEN_VERIFICATION_ENABLED: "true"
    AUDIT_ENABLED: "false"
    AUDIT_SQS_REGION: "eu-west-2"
    AUDIT_SERVICE_NAME: "UNASSIGNED"
    LOAD_DPR_ON_STARTUP: "true"

  namespace_secrets:
    hmpps-incident-reporting:
      FEEDBACK_URL: "FEEDBACK_URL"
      GOOGLE_ANALYTICS_MEASUREMENT_ID: "GOOGLE_ANALYTICS_MEASUREMENT_ID"
    hmpps-incident-reporting-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    hmpps-incident-reporting-auth-code:
      API_CLIENT_ID: "AUTH_CODE_CLIENT_ID"
      API_CLIENT_SECRET: "AUTH_CODE_CLIENT_SECRET"
    hmpps-incident-reporting-client-creds:
      SYSTEM_CLIENT_ID: "CLIENT_CREDS_CLIENT_ID"
      SYSTEM_CLIENT_SECRET: "CLIENT_CREDS_CLIENT_SECRET"
    hmpps-incident-reporting-session-secret:
      SESSION_SECRET: 'SESSION_SECRET'
    elasticache-redis:
      REDIS_HOST: "primary_endpoint_address"
      REDIS_AUTH_TOKEN: "auth_token"
    # sqs-hmpps-audit-secret:
    #   AUDIT_SQS_QUEUE_URL: "sqs_queue_url"
    #   AUDIT_SQS_QUEUE_NAME: "sqs_queue_name"

  allowlist:
    groups:
      - digital_staff_and_mojo
      - moj_cloud_platform
      - prisons
      - private_prisons

  scheduledDowntime:
    # NOTE: API starts at 6.49am UTC, stops at 21:58pm UTC
    startup: '00 7 * * 1-5' # Start at 7.00am UTC Monday-Friday
    shutdown: '50 21 * * 1-5' # Stop at 9.50pm UTC Monday-Friday

generic-prometheus-alerts:
  targetApplication: hmpps-incident-reporting
