{% extends "partials/layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Management reporting" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      },
      {
        text: "Incident reporting",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Management reporting</h1>

  <p>The following features a list of management reports currently available.</p>

  {% for definition in definitions %}
    {% if definition.authorised %}
      <h2 class="govuk-heading-m">{{ definition.name }}</h2>
      <p>{{ definition.description }}</p>

      {% for variant in definition.variants %}
        <h3 class="govuk-heading-s">
          <a id="{{ definition.id }}-{{ variant.id }}" href="/management-reporting/{{ definition.id }}-{{ variant.id }}">
            {{ variant.name }}
          </a>
        </h3>
        <p>{{ variant.description }}</p>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}
