{% extends "partials/layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Management reporting" %}

{% block containerStart %}
  {{ super() }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      },
      {
        text: "Incident reporting",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Management reporting</h1>

  <h2 class="govuk-heading-m">Management incident reports have moved</h2>
  <p>
    You can now
    <a href="{{ dprUrl }}?dpr-reports-catalogue_search_input=incident+reports" target="_blank">
      view reports in Digital Prison Reporting
    </a>
  </p>
{% endblock %}
