{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% if
  (
    (userType == "reportingOfficer") and
    (report.status in ["AWAITING_REVIEW", "UPDATED", "WAS_CLOSED", "CLOSED", "NOT_REPORTABLE", "DUPLICATE"])
  )
  or
  (
    (userType == "dataWarden") and
    (report.status in ["NEEDS_UPDATING", "REOPENED", "CLOSED", "NOT_REPORTABLE", "DUPLICATE"])
  )
%}
  {% if (userType == "reportingOfficer") and (report.status in ["AWAITING_REVIEW", "UPDATED", "WAS_CLOSED"]) %}
    {% set buttonText = "Change report" %}
  {% elseif (userType == "reportingOfficer") and (report.status in ["CLOSED", "NOT_REPORTABLE", "DUPLICATE"]) %}
    {% set buttonText = "Reopen and change report" %}
  {% else %}
    {% set buttonText = "Change report status" %}
  {% endif %}

  <form id="app-view-report__user-action-form" method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    <div class="govuk-button-group">
      {{ govukButton({
        text: buttonText,
        name: "userAction",
        value: "recall",
        classes: "govuk-button--secondary",
        preventDoubleClick: true,
        type: "submit"
      }) }}

      <a href="/reports" class="govuk-link govuk-link--no-visited-state">
        Back to incidents
      </a>
    </div>
  </form>

{% else %}

  {% if pageTransitions|length %}
    {% set formItems = [] %}
    {% for action, transition in pageTransitions %}
      {% if transition.newStatus %}
        {% if transition.commentRequired %}
            {% set inputName = action + "Comment" %}
            {% set textHtml %}
              {% if transition.incidentNumberRequired %}
                {{ govukInput({
                  id: "incidentNumber",
                  name: "incidentNumber",
                  classes: "govuk-!-width-one-third",
                  label: {
                    text: transition.duplicateIncidentNumberBoxText
                  },
                  value: formValues["incidentNumber"],
                  errorMessage: errors | findFieldInGovukErrorSummary("incidentNumber")
                }) }}
              {% endif %}

              {{ govukTextarea({
                id: inputName,
                name: inputName,
                classes: "govuk-!-width-one-third",
                label: {
                  text: transition.commentBoxText
                },
                value: formValues[inputName],
                errorMessage: errors | findFieldInGovukErrorSummary(inputName)
              }) }}
            {% endset -%}

          {% set _ = formItems.push({
            value: action,
            text: transition.label,
            conditional: {
              html: textHtml
            }
          }) %}

        {% else %}
          {% set _ = formItems.push({
            value: action,
            text: transition.label
          }) %}

        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <form id="app-view-report__user-action-form" method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {% if pageTransitions|length %}
      {{ govukRadios({
        name: "userAction",
        attributes: {
          id: "userAction"
        },
        fieldset: {
          legend: {
            text: "What do you want to do with this report?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        idPrefix: "userAction-item",
        items: formItems,
        value: formValues.submittedAction,
        errorMessage: errors | findFieldInGovukErrorSummary("submittedAction")
      }) }}
    {% endif %}

    <div class="govuk-button-group">
      {% if pageTransitions|length %}
        {{ govukButton({
          text: "Continue",
          name: "submit",
          value: "submit",
          preventDoubleClick: true,
          type: "submit"
        }) }}
      {% endif %}

      <a href="/reports" class="govuk-link govuk-link--no-visited-state">
        Back to incidents
      </a>
    </div>
  </form>

{% endif %}
