{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: possibleTransitions.RECALL.label or "Change report",
    name: "userAction",
    value: "RECALL",
    classes: "govuk-button--secondary",
    preventDoubleClick: true,
    type: "submit"
  }) }}

  <a href="/reports" class="govuk-link govuk-link--no-visited-state">
    Back to incidents
  </a>
</div>
