{% from "moj/components/timeline/macro.njk" import mojTimeline %}

{# TODO: does not match design since component requires date to be on separate line and by-line cannot be replaced with it #}

{% if report.correctionRequests.length > 0 %}

  {% set items = [] %}
  {% for correctionRequest in report.correctionRequests | sortCorrectionRequests %}
    {% set comment %}
      {# TODO: preliminary build: does not support all possible forms of comments #}
      {{ correctionRequest.descriptionOfChange | escape | nl2br }}
    {% endset %}

    {% set _ = items.push({
      label: {
        text: usersLookup[correctionRequest.correctionRequestedBy].name or correctionRequest.correctionRequestedBy
      },
      datetime: {
        timestamp: correctionRequest.correctionRequestedAt | longDateAndTime,
        type: "custom"
      },
      html: comment
    }) %}
  {% endfor %}

  <div class="app-correction-requests">
    <h2 class="app-correction-requests__title">Comments</h2>
    {{ mojTimeline({
      headingLevel: 3,
      items: items
    }) }}
  </div>

{% endif %}
