{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/renderDescriptions.njk" import renderDescriptions %}

{% if report.descriptionAddendums.length != 0 %}
  {% set descriptionHtml %}
    {{ renderDescriptions(report, usersLookup) }}
  {% endset %}
{% else %}
  {% set descriptionHtml = report.description | escape | nl2br %}
{% endif %}

{% if descriptionAppendOnly %}
  {% set descriptionLink = reportUrl + "/add-description" %}
  {% set descriptionHiddenText = "description" %}
  {% set dateAndTimeLink = reportUrl + "/update-date-and-time" %}
  {% set dateAndTimeHiddenText = "incident date and time" %}
{% else %}
  {% set descriptionLink = reportUrl + "/update-details" %}
  {% set descriptionHiddenText = "incident summary" %}
  {% set dateAndTimeLink = reportUrl + "/update-details" %}
  {% set dateAndTimeHiddenText = "incident summary" %}
{% endif %}

{% set typeHtml %}
  {{ typesDescriptions[report.type] or report.type }}

  {% if report.incidentTypeHistory.length != 0 %}
    <div class="app-response--inset">
      {# Initial entry uses type from first entry in type history with reported by and reported at values at report level #}
      Incident created as {{ typesDescriptions[report.incidentTypeHistory[0].type] or report.incidentTypeHistory[0].type }} by {{ usersLookup[report.reportedBy].name or report.reportedBy }} on {{ report.reportedAt | longDateAndTime}} <br />
      {% for typeChange in report.incidentTypeHistory %}
        {# last entry uses current incident report type with changed at and changed by values from final entry in type history #}
        {% if loop.index0 + 1 ==  report.incidentTypeHistory.length %}
          Incident updated to {{ typesDescriptions[report.type] or report.type }} by {{ usersLookup[typeChange.changedBy].name or type.changedBy }} on {{ typeChange.changedAt | longDateAndTime}} <br />
        {# all other entries are from type history using the changed by and changed at values with the type from the next entry #}
        {% else %}
          Incident updated to {{ typesDescriptions[report.incidentTypeHistory[loop.index0 + 1].type] or report.incidentTypeHistory[loop.index0 + 1].type }} by {{ usersLookup[typeChange.changedBy].name or typeChange.changedBy }} on {{ typeChange.changedAt | longDateAndTime}} <br />
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endset %}

{{ govukSummaryList({
  card: {
    title: { text: "Incident summary" }
  },
  rows: [
    {
      key: { text: "Type" },
      value: { html: typeHtml },
      actions: {
        items: [
          {
            href: reportUrl + "/change-type",
            text: "Change",
            visuallyHiddenText: "incident type"
          }
        ]
      } if canEditReport else {}
    },
    {
      key: { text: "Date and time of incident" },
      value: {
        text: report.incidentDateAndTime | longDateAndTime
      },
      actions: {
        items: [
          {
            href: dateAndTimeLink,
            text: "Change",
            visuallyHiddenText: dateAndTimeHiddenText
          }
        ]
      } if canEditReport else {}
    },
    {
      key: { text: "Description" },
      value: {
        html: descriptionHtml
      },
      actions: {
        items: [
          {
            href: descriptionLink,
            text: "Change",
            visuallyHiddenText: descriptionHiddenText
          }
        ]
      } if canEditReport else {}
    }
  ]
}) }}
