{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro descriptionChunk(name, date, text) %}
  <strong>{{ name }}</strong>
  <br />
  <small class="govuk-!-font-size-16">{{ date | longDateAndTime }}</small>
  <br />
  {{ text | escape | nl2br }}
{% endmacro %}

{% if report.descriptionAddendums.length != 0 %}

  {% set descriptionHtml %}
    {{ descriptionChunk(usersLookup[report.reportedBy].name or report.reportedBy, report.reportedAt, report.description) }}
    {% for addendum in report.descriptionAddendums %}
      <br />
      <br />
      {{ descriptionChunk(addendum | nameOfPerson, addendum.createdAt, addendum.text) }}
    {% endfor %}
  {% endset %}

{% else %}
  {% set descriptionHtml = report.description | escape | nl2br %}
{% endif %}


{{ govukSummaryList({
  card: {
    title: { text: "Incident summary" }
  },
  rows: [
    {
      key: { text: "Type" },
      value: {
        text: typesLookup[report.type] or report.type
      },
      actions: {
        items: [
          {
            href: reportUrl + "/change-type",
            text: "Change",
            visuallyHiddenText: "incident type"
          }
        ]
      } if canEditReport and report.status === "DRAFT" else {}
    },
    {
      key: { text: "Date and time of incident" },
      value: {
        text: report.incidentDateAndTime | longDateAndTime
      },
      actions: {
        items: [
          {
            href: reportUrl + "/update-details",
            text: "Change",
            visuallyHiddenText: "incident summary"
          }
        ]
      } if canEditReport else {}
    },
    {
      key: { text: "Description" },
      value: {
        html: descriptionHtml
      },
      actions: {
        items: [
          {
            href: reportUrl + "/update-details",
            text: "Change",
            visuallyHiddenText: "incident summary"
          }
        ]
      } if canEditReport else {}
    }
  ]
}) }}
