{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% if canEditReport and not (reportConfig.active or hasOverrideActiveStatus) %}
  {{ govukWarningText({
    text: "Questions cannot be changed for inactive incident types.",
    iconFallbackText: "Warning"
  }) }}
{% endif %}

{% set rows = [] %}
{% for questionProgressStep in questionProgressSteps %}

  {% set questionHtml %}
    {{ questionProgressStep.questionNumber }}. {{ questionProgressStep.questionConfig.label }}
  {% endset %}

  {% set responsesHtml %}
    {% if questionProgressStep.isComplete or not (reportConfig.active or hasOverrideActiveStatus) %}
      {% for responseItem in questionProgressStep.responses %}
        {% set inset = responseItem.response.responseDate or responseItem.response.additionalInformation or (questionProgressStep.responses | length) > 1 %}

        {% if inset %}
          <div class="app-response--inset">
            {{ responseItem.answerConfig.label }}
            {% if responseItem.response.responseDate %}
              <br />
              {{ responseItem.response.responseDate | longDate }}
            {% endif %}
            {% if responseItem.response.additionalInformation %}
              <br />
              {{ responseItem.response.additionalInformation }}
            {% endif %}
          </div>
        {% else %}
          {{ responseItem.answerConfig.label }}
        {% endif %}

      {% endfor %}
    {% endif %}
  {% endset %}

  {% set _ = rows.push({
    key: { html: questionHtml },
    value: { html: responsesHtml },
    actions: {items: [{
      href: reportSubUrlPrefix + "/questions" + (questionProgressStep.urlSuffix or "") + "#question-" + questionProgressStep.fieldName,
      text: "Change" if questionProgressStep.isComplete else "Continue",
      visuallyHiddenText: "question responses: " + questionProgressStep.questionConfig.label
    }]} if canEditReport and (reportConfig.active or hasOverrideActiveStatus) else {}
  }) %}

{% endfor %}

{{ govukSummaryList({
  card: {
    title: { text: aboutTheType }
  },
  rows: rows
}) }}
