{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% if canEditReport and not (reportConfig.active or hasOverrideActiveStatus) %}
  {{ govukWarningText({
    text: "Questions cannot be changed for inactive incident types.",
    iconFallbackText: "Warning"
  }) }}
{% endif %}

{% set rows = [] %}
{% for questionProgressStep in questionProgressSteps %}

  {% set questionHtml %}
    {{ questionProgressStep.questionNumber }}. {{ questionProgressStep.questionConfig.label }}
  {% endset %}

  {% set responsesHtml %}
    {% if questionProgressStep.isComplete or not (reportConfig.active or hasOverrideActiveStatus) %}
      {% if questionProgressStep.responses | length > 1 %}
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      {% endif %}
          {% for responseItem in questionProgressStep.responses %}
            {% set inset = responseItem.response.responseDate or responseItem.response.additionalInformation %}

            {% if questionProgressStep.responses | length > 1 %}
              <li>
            {% endif %}
              {% if inset %}
                {{ responseItem.answerConfig.label }}:
                {% if responseItem.response.responseDate %}
                  <br />
                  {{ responseItem.response.responseDate | longDate }}
                {% endif %}
                {% if responseItem.response.additionalInformation %}
                  <br />
                  {{ responseItem.response.additionalInformation }}
                {% endif %}
              {% else %}
                {{ responseItem.answerConfig.label }}
              {% endif %}
            {% if questionProgressStep.responses | length > 1 %}
              </li>
            {% endif %}
          {% endfor %}
      {% if questionProgressStep.responses | length > 1 %}
        </ul>
      {% endif %}
    {% endif %}
  {% endset %}

  {% set _ = rows.push({
    key: { html: questionHtml },
    value: { html: responsesHtml },
    actions: {items: [{
      href: reportSubUrlPrefix + "/questions" + (questionProgressStep.urlSuffix or "") + "#question-" + questionProgressStep.fieldName,
      text: "Change" if questionProgressStep.isComplete else "Continue",
      visuallyHiddenText: "question responses: " + questionProgressStep.questionConfig.label
    }]} if canEditReport and (reportConfig.active or hasOverrideActiveStatus) else {}
  }) %}

{% endfor %}

{{ govukSummaryList({
  card: {
    title: { text: aboutTheType }
  },
  rows: rows
}) }}
