{% extends "partials/layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% set pageTitle %}
  {%- if canEditReport and report.status in workListMapping.toDo -%}
    {#- TODO: consider location as well?  -#}
    Check your answers – incident report {{ report.reportReference }}
  {%- else -%}
    Incident report {{ report.reportReference }}
  {%- endif -%}
{% endset %}

{% set bodyClasses = "app-view-report" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      },
      {
        text: "Incident reporting",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% if permissions.userType == "REPORTING_OFFICER" and report.status == "ON_HOLD" %}
    {# TODO: replace with link to actual email address #}
    {{ mojAlert({
      variant: "information",
      title: "On hold",
      showTitleAsHeading: true,
      dismissible: false,
      html: "A data warden has placed this report on hold, if you need to make an update contact (email address)"
    }) }}
  {% endif %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) }}
  {% endif %}

  {% include "partials/notificationBanner.njk" %}

  <h1 class="govuk-heading-l">
    {{ pageTitle }}
  </h1>
  <p>
    {# TODO: label will need to change for PECS regions #}
    <strong>Establishment:</strong>
    <span data-qa="report-location">{{ prisonsLookup[report.location].description or report.location }}</span>
    <br />
    <strong>Reported by:</strong>
    <span data-qa="report-reported-by">{{ usersLookup[report.reportedBy].name or report.reportedBy }} on {{ report.reportedAt | longDate }}</span>
    <br />
    <strong>Status:</strong>
    <span data-qa="report-status">{{ statusLookup[report.status] or report.status }}</span>
  </p>

  {% include "./_correction-requests.njk" %}

  {% if canEditReportInNomisOnly %}
    {{ govukWarningText({
      text: "This report can only be amended in NOMIS",
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  {% include "./_details.njk" %}
  {% include "./_prisoners.njk" %}
  {% include "./_staff.njk" %}
  {% include "./_questions.njk" %}
  {% include "./_actions.njk" %}

{% endblock %}
