{% extends "partials/layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Incident reference " + report.reportReference %}
{% set bodyClasses = "app-view-report" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      },
      {
        text: "Incident reporting",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  {% include "partials/notificationBanner.njk" %}

  <h1 class="govuk-heading-l">
    {% if report.status == "DRAFT" and canEditReport %}
      {# TODO: this probably needs to show for certain other statuses too #}
      Check your answers – incident reference {{ report.reportReference }}
    {% else %}
      Incident reference {{ report.reportReference }}
    {% endif %}
  </h1>
  <p>
    {# TODO: label will need to change for PECS regions #}
    <strong>Establishment:</strong>
    <span data-qa="report-location">{{ prisonsLookup[report.location].description or report.location }}</span>
    <br />
    <strong>Reported by:</strong>
    <span data-qa="report-reported-by">{{ usersLookup[report.reportedBy].name or report.reportedBy }} on {{ report.reportedAt | longDate }}</span>
    <br />
    <strong>Status:</strong>
    <span data-qa="report-status">{{ statusLookup[report.status] or report.status }}</span>
  </p>

  {% if canEditReportInNomisOnly %}
    {{ govukWarningText({
      text: "This report can only be amended in NOMIS",
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  {% include "./_details.njk" %}
  {% include "./_prisoners.njk" %}
  {% include "./_staff.njk" %}
  {% include "./_questions.njk" %}

  {# TODO: not designed #}
  {% include "./_correction-requests.njk" %}

{% endblock %}
