{% extends "partials/pageHeadingFormWizardLayout.njk" %}

{% set bodyClasses = "app-reopen-report" %}

{% block formFields %}
  <p>
    {% if permissions.userType == "REPORTING_OFFICER" %}
      Once you have made changes, you’ll need to resubmit the report to be reviewed.
    {% else %}
      Once you have made changes, you’ll need to resubmit the report.
    {% endif %}
  </p>

  {{ super() }}
{% endblock %}
