{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}

{% macro renderField(field) %}
  {% if field.component === "govukCheckboxes" or field.component === "govukRadios" %}
    {# Build `items` field #}
    {% set items = [] %}
      {% for item in field.items %}
          {# Build `conditional` field #}
          {%- if item.dateRequired or item.commentRequired -%}
            {%- set conditionalHtml -%}
              {{ conditionalHtml(item) }}
            {%- endset -%}
            {%- set conditional = { html: conditionalHtml} -%}
          {%- else -%}
            {%- set conditional = null -%}
          {%- endif -%}

          {% set items = (items.push({
            text: item.text,
            value: item.value,
            conditional: conditional
          }), items) %}
        {% endfor %}

      {% if field.component === "govukCheckboxes" %}
        {% set govukMacro = govukCheckboxes %}
      {% else %}
        {% set govukMacro = govukRadios %}
      {% endif %}
      {{ govukMacro({
          name: field.name,
          fieldset: {
            legend: {
              text: field.text,
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: items
      }) }}
  {% else %}
    <strong>WARNING: Unknown field's component {{ field.component }}
  {% endif %}
{% endmacro %}

{% macro conditionalHtml(item) %}
  {# TODO: How to identify this specific answer's comment/date? #}
  {#       This is particularly tricky when multiple answers are allowed! #}
  {#       Answers don't have an "id" #}
  {%- if item.dateRequired -%}
    {# TODO: Get value #}
    {# TODO: Validation? #}
    {# TODO: Handle errors #}
    {{ mojDatePicker({
        id: field.id + '-' + item.value + '-date',
        name: field.id + '-' + item.value + '-date',
        label: {
          text: "Date"
        },
        value: formValues.dateRequiredTODO,
        leadingZeros: "true"
    }) }}
  {%- endif -%}

  {%- if item.commentRequired -%}
    {# TODO: How would this work with validation? #}
    {# TODO: See comments above on ID, etc...#}
    {{ govukInput({
      id: field.id + '-' + item.value + '-comment',
      name: field.id + '-' + item.value + '-comment',
      text: 'Comment',
      label: { text: 'Comment' },
      conditional: {
        html: conditionalHtml
      }
    }) }}
  {%- endif -%}
{% endmacro %}
