{% extends "partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}


{% set pageTitle = applicationName + " - Incident" %}

{% block content %}
  <h1>Incident: {{ event.title }}</h1>

  {{ govukTable({
    caption: "Incident details",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    rows: [
      [
        {
          text: "Title"
        },
        {
          text: event.title
        }
      ],
      [
        {
          text: "Reference"
        },
        {
          text: event.eventReference
        }
      ],
      [
        {
          text: "Location"
        },
        {
          text: prisonsLookup[event.location].description or event.location
        }
      ],
      [
        {
          text: "When occurred"
        },
        {
          text: event.eventDateAndTime | dateAndTime
        }
      ],
      [
        {
          text: "Description"
        },
        {
          text: event.description
        }
      ]
    ]
  }) }}

  {%- for report in event.reports -%}
    <h2>{{ report.type }} Report</h2>

    {% set reportLink %}
      <a href="/reports/{{ report.id }}">
        <span class="govuk-visually-hidden">
          View report details
        </span>
        {{ report.reportReference }}
      </a>
    {% endset %}

    {{ govukTable({
      caption: "Report details",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "Reference"
          },
          {
            html: reportLink
          }
        ],
        [
          {
            text: "When reported"
          },
          {
            text: report.reportedAt | dateAndTime
          }
        ],
        [
          {
            text: "Reported by"
          },
          {
            text: usersLookup[report.reportedBy].name or report.reportedBy
          }
        ],
        [
          {
            text: "Status"
          },
          {
            text: report.status
          }
        ],
        [
          {
            text: "Created in NOMIS?"
          },
          {
            text: report.createdInNomis
          }
        ]
      ]
    }) }}
  {%- endfor -%}


{% endblock %}
