{% extends "../../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Report" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/reports"
  }) }}
{% endblock %}

{% block content %}
  <h1>Report {{ report.reportReference }}</h1>

<!-- Incident details table -->
{{ govukSummaryList({
  card: {
    title: {
      text: "Incident details"
    },
    actions: {
      items: [
        {
          href: "/reports/" + report.id + "/update-details",
          text: "Change",
          visuallyHiddenText: "incident details"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Date and time of incident"
      },
      value: {
        html: report.incidentDateAndTime | dateAndTime
      }
    },
    {
      key: {
        text: "Description"
      },
      value: {
        html: report.description
      }
    }
  ]
}) }}

<!-- Incident type table -->
{{ govukSummaryList({
  card: {
    title: {
      text: "Incident type"
    },
    actions: {
      items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "incident type"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Incident type"
      },
      value: {
        html: typesLookup[report.type] or report.type
      }
    }
  ]
}) }}

<!-- Prisoners involved table -->
  {%- if report.prisonersInvolved.length > 0 -%}
    {%- set prisonerRows = [] -%}
      {%- for prisonerInvolved in report.prisonersInvolved -%}
        {% if prisonersLookup[prisonerInvolved.prisonerNumber] %}
          {%- set prisonerName = prisonersLookup[prisonerInvolved.prisonerNumber] | nameOfPerson -%}
        {% else %}
          {%- set prisonerName = prisonerInvolved.prisonerNumber -%}
        {% endif %}

        {% if prisonerInvolved.outcome %}
          {%- set outcome = prisonerInvolved.outcome -%}
        {% else %}
          {%- set outcome = 'No outcome' -%}
        {% endif %}

        {%- set prisonerURL = dpsUrl + '/prisoner/' + prisonerInvolved.prisonerNumber -%}
        {%- set prisonerRows = (prisonerRows.push({
          key: {
            html: '<a href=' + prisonerURL + ' class="govuk-link">' + prisonerName + '</a>'
          },
          value: {
            html: prisonerInvolved.prisonerRole + ' - ' + outcome
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "change prisoner"
              },
              {
                href: "#",
                text: "Remove",
                visuallyHiddenText: "remove prisoner"
              }
            ]
          }
        }), prisonerRows) -%}

      {%- endfor -%}

  {%- else -%}
    {%- set prisonerRows = [{
      key: { text: 'No prisoners found' },
      value: { html: 'N/A' },
      actions: {
        items: [
          {
          href: "/reports/" + report.id + "/prisoner-search",
          text: "Add a prisoner",
          visuallyHiddenText: "add prisoner"
          }
        ]
      }
    }) -%}
  {%- endif -%}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Prisoners involved"
      },
      actions: {
        items: [
          {
            href: "/reports/" + report.id + "/prisoner-search",
            text: "Add a prisoner",
            visuallyHiddenText: "add prisoner"
          }
        ]
      }
    },
    rows: prisonerRows
  }) }}

<!-- Staff involved table -->
  {%- if report.staffInvolved.length > 0 -%}
    {%- set staffRows = [] -%}
    {%- for staffInvolved in report.staffInvolved -%}
      {%- set staffName = usersLookup[staffInvolved.staffUsername].name or staffInvolved.staffUsername -%}
      {%- set staffRole = staffInvolved.staffRole -%}

      {%- set staffRows = (staffRows.push({
        key: {
          text: staffName
        },
        value: {
          html: staffRole
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "change staff"
            },
            {
              href: "#",
              text: "Remove",
              visuallyHiddenText: "remove staff"
            }
          ]
        }
      }), staffRows) -%}

    {%- endfor -%}

  {%- else -%}
    {%- set staffRows = [{
      key: { text: 'No staff found' },
      value: { html: 'N/A' },
      actions: {
        items: [
          {
            href: "#",
            text: "Add a staff member",
            visuallyHiddenText: "add staff"
          }
        ]
      }
    }) -%}
  {%- endif -%}

  {{ govukSummaryList({
    card: {
      title: {
      text: "Staff involved"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Add a staff member",
          visuallyHiddenText: "add staff"
        }
      ]
    }
    },
    rows: staffRows
  }) }}

<!-- Question responses table -->
  {%- set questionsActionItems = [
    {
      href: "#",
      text: "Add responses",
      visuallyHiddenText: "add question responses"
    }
  ] -%}

  {%- if report.questions.length > 0 -%}
    {%- set questionsRows = [] -%}
    {%- for question in report.questions -%}
      {%- if question.responses.length > 0 -%}
        {% set responses %}
          {% for response in question.responses %}
            {{ response.response }}
            {% if response.responseDate %}
              <br />
              Date: {{ response.responseDate }}
            {% endif %}
            {% if response.additionalInformation %}
              <br />
              Comment: {{ response.additionalInformation }}
            {% endif %}
            {% if not loop.last %}
              <br />
            {% endif %}
          {% endfor %}
        {% endset %}
      {%- else -%}
        {%- set responses = 'Not answered' -%}
      {%- endif -%}

      {# Rows of questions (with their responses) #}
      {%- set questionsRows = (questionsRows.push({
        key: { text: question.question },
        value: { html: responses }
      }), questionsRows) -%}
    {%- endfor -%}

    {%- set questionsActionItems = (questionsActionItems.push({
      href: "#",
      text: "Change",
      visuallyHiddenText: "change question responses"
    }), questionsActionItems) -%}


  {%- else -%}
    {%- set questionsRows = [{
      key: { text: 'No responses found' },
      value: { html: 'N/A' }
    }) -%}
  {%- endif -%}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Question responses"
      },
      actions: {
        items: questionsActionItems
      }
    },
    rows: questionsRows
  }) }}

<!-- Correction requests table -->
  {%- if report.correctionRequests.length > 0 -%}
  {%- set correctionRows = [] -%}
    {%- for correctionRequest in report.correctionRequests -%}
      {%- set reason = correctionRequest.reason  -%}
      {%- set description = correctionRequest.descriptionOfChange -%}

      {%- set correctionRows = (correctionRows.push({
        key: {
          text: reason
        },
        value: {
          html: description
        }
      }), correctionRows) -%}

    {%- endfor -%}

  {%- else -%}
    {%- set correctionRows = [{
      key: { text: 'No corrections found' },
      value: { html: 'N/A' },
      actions: {
        items: [
          {
            href: "#",
            text: "Add a correction",
            visuallyHiddenText: "add correction"
          }
        ]
      }
    }) -%}
  {%- endif -%}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Correction Requests"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Add a correction",
            visuallyHiddenText: "add correction"
          }
        ]
      }
    },
    rows: correctionRows
  }) }}

{% endblock %}
