{% extends "partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = applicationName + " - Report" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/reports"
  }) }}
{% endblock %}

{%- set location = prisonsLookup[report.location].description or report.location -%}
{%- set reportingOfficer = usersLookup[report.reportedBy].name or report.reportedBy -%}
{%- set reportedDate = report.reportedAt | date -%}

{% block content %}
  <h1 class="govuk-heading-m">Report {{ report.reportReference }}
    {{ govukTag({
      text: statusLookup[report.status] or report.status
    }) }}
  </h1>
  <h2 class="govuk-heading-s">Incident reported in {{ location }} by {{ reportingOfficer }} on {{ reportedDate }}</h2>

  {% if notEditableInDps %}
    {{ govukWarningText({
      text: "This report can only be amended in NOMIS",
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

<!-- Incident details table -->
{{ govukSummaryList({
  card: {
    title: {
      text: "Incident details"
    },
    actions: {
      items: [
        {
          href: "/reports/" + report.id + "/update-details",
          text: "Change",
          visuallyHiddenText: "incident details"
        }
      ]
    } if canEditReport else {}
  },
  rows: [
    {
      key: {
        text: "Date and time of incident"
      },
      value: {
        text: report.incidentDateAndTime | dateAndTime
      }
    },
    {
      key: {
        text: "Description"
      },
      value: {
        html: report.description | escape | nl2br
      }
    }
  ]
}) }}

<!-- Incident type table -->
{{ govukSummaryList({
  card: {
    title: {
      text: "Incident type"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "incident type"
        }
      ]
    } if canEditReport else {}
  },
  rows: [
    {
      key: {
        text: "Incident type"
      },
      value: {
        text: typesLookup[report.type] or report.type
      }
    }
  ]
}) }}

<!-- Prisoners involved table -->
  {%- if report.prisonersInvolved.length > 0 -%}
    {%- set prisonerRows = [] -%}
      {%- for prisonerInvolved in report.prisonersInvolved -%}
        {% if prisonersLookup[prisonerInvolved.prisonerNumber] %}
          {%- set prisonerName = prisonersLookup[prisonerInvolved.prisonerNumber] | nameOfPerson -%}
        {% else %}
          {%- set prisonerName = prisonerInvolved.prisonerNumber -%}
        {% endif %}

        {%- set prisonerRole = prisonerInvolvementLookup[prisonerInvolved.prisonerRole] or prisonerInvolved.prisonerRole -%}
        {% if prisonerInvolved.outcome %}
          {%- set outcome = prisonerOutcomeLookup[prisonerInvolved.outcome] or prisonerInvolved.outcome -%}
        {% else %}
          {%- set outcome = "No outcome" -%}
        {% endif %}
        {% if prisonerInvolved.comment %}
          {%- set comment = prisonerInvolved.comment -%}
        {% else %}
          {%- set comment = "No comment" -%}
        {% endif %}
        {% set prisonerValues %}
          Role: {{ prisonerRole }}
          <br />
          Outcome: {{ outcome }}
          <br />
          Comment: {{ comment }}
        {% endset %}

        {%- set prisonerURL = dpsUrl + "/prisoner/" + prisonerInvolved.prisonerNumber -%}
        {% set prisonerURLKey %}
          <a href="{{ prisonerURL }}" class="govuk-link">{{ prisonerName }}</a>
        {% endset %}

        {%- set prisonerRows = (prisonerRows.push({
          key: {
            html: prisonerURLKey
          },
          value: { html: prisonerValues },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "prisoner"
              },
              {
                href: "#",
                text: "Remove",
                visuallyHiddenText: "prisoner"
              }
            ]
          } if canEditReport else {}
        }), prisonerRows) -%}

      {%- endfor -%}

  {%- else -%}
    {%- set prisonerRows = [{
      key: { text: "No prisoners found" },
      value: { text: "N/A" },
      actions: {
        items: [
          {
            href: "/reports/" + report.id + "/prisoner-search",
            text: "Add a prisoner"
          }
        ]
      } if canEditReport else {}
    }) -%}
  {%- endif -%}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Prisoners involved"
      },
      actions: {
        items: [
          {
            href: "/reports/" + report.id + "/prisoner-search",
            text: "Add a prisoner"
          }
        ]
      } if canEditReport else {}
    },
    rows: prisonerRows
  }) }}

<!-- Staff involved table -->
  {%- if report.staffInvolved.length > 0 -%}
    {%- set staffRows = [] -%}
    {%- for staffInvolved in report.staffInvolved -%}
      {%- set staffName = usersLookup[staffInvolved.staffUsername].name or staffInvolved.staffUsername -%}
      {%- set staffRole = staffInvolvementLookup[staffInvolved.staffRole] or staffInvolved.staffRole -%}

      {% if staffInvolved.comment %}
        {%- set comment = staffInvolved.comment -%}
      {% else %}
        {%- set comment = "No comment" -%}
      {% endif %}
      {% set staffValues %}
        Role: {{ staffRole }}
        <br />
        Comment: {{ comment }}
      {% endset %}

      {%- set staffRows = (staffRows.push({
        key: {
          text: staffName
        },
        value: {
          html: staffValues
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "staff"
            },
            {
              href: "#",
              text: "Remove",
              visuallyHiddenText: "staff"
            }
          ]
        } if canEditReport else {}
      }), staffRows) -%}

    {%- endfor -%}

  {%- else -%}
    {%- set staffRows = [{
      key: { text: "No staff found" },
      value: { text: "N/A" },
      actions: {
        items: [
          {
            href: "#",
            text: "Add a staff member"
          }
        ]
      } if canEditReport else {}
    }) -%}
  {%- endif -%}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Staff involved"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Add a staff member"
          }
        ]
      } if canEditReport else {}
      },
      rows: staffRows
  }) }}

<!-- Question responses table -->
  {% set questionRows = [] %}
  {% for questionProgressStep in questionProgressSteps %}
    {% set questionHtml %}
      {{ questionProgressStep.questionNumber }}. {{ questionProgressStep.questionConfig.label }}
    {% endset %}

    {% set responsesHtml %}
      {% for responseItem in questionProgressStep.responses %}
        {{ responseItem.answerConfig.label }}
        {% if responseItem.response.responseDate %}
          <br />
          Date: {{ responseItem.response.responseDate | date }}
        {% endif %}
        {% if responseItem.response.additionalInformation %}
          <br />
          Comment: {{ responseItem.response.additionalInformation }}
        {% endif %}
        {% if not loop.last %}
          <br />
        {% endif %}
      {% endfor %}
    {% endset %}

    {% set _ = questionRows.push({
      key: {html: questionHtml},
      value: {html: responsesHtml},
      actions: {items: [{
        href: "/reports/" + report.id + "/questions" + (questionProgressStep.urlSuffix or ""),
        text: "Change response"
      }]} if canEditReport else {}
    }) %}

  {% else %}

    {% set _ = questionRows.push({
      key: { text: "No responses" },
      value: { text: "" },
      actions: {items: [{
        href: "/reports/" + report.id + "/questions",
        text: "Answer questions"
      }]} if canEditReport else {}
    }) %}

  {% endfor %}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Question responses"
      },
      actions: {
        items: [{
          href: "/reports/" + report.id + "/questions",
          text: "Change",
          visuallyHiddenText: "question responses"
        }]
      } if canEditReport else {}
    },
    rows: questionRows
  }) }}

<!-- Correction requests table -->
  {%- if report.correctionRequests.length > 0 -%}
  {%- set correctionRows = [] -%}
    {%- for correctionRequest in report.correctionRequests -%}
      {%- set requestedBy = usersLookup[correctionRequest.correctionRequestedBy].name or correctionRequest.correctionRequestedBy -%}
      {%- set description = correctionRequest.descriptionOfChange -%}
      {%- set requestedAt = correctionRequest.correctionRequestedAt | dateAndTime -%}

      {% set correctionValues %}
        Description: {{ description }}
        <br />
        Submitted at: {{ requestedAt }}
      {% endset %}

      {%- set correctionRows = (correctionRows.push({
        key: {
          text: requestedBy
        },
        value: {
          html: correctionValues
        }
      }), correctionRows) -%}

    {%- endfor -%}

  {%- else -%}
    {%- set correctionRows = [{
      key: { text: "No corrections found" },
      value: { text: "N/A" },
      actions: {
        items: [
          {
            href: "#",
            text: "Add a correction"
          }
        ]
      } if canEditReport else {}
    }) -%}
  {%- endif -%}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Correction requests"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Add a correction"
          }
        ]
      } if canEditReport else {}
    },
    rows: correctionRows
  }) }}

{% endblock %}
