{% extends "partials/formWizardLayout.njk" %}

{% block formFields %}
  {% from "macros/renderField.njk" import renderField %}

  {# NB: Fields are rendered in the original order #}
  {% for fieldName in questionSteps[options.route].fields %}
    {% set field = options.fields[fieldName] %}

    {# NB:
      - dependent fields are currently only used in conditionals so are rendered separately
      - fields starting with _ are internally generated (e.g. hours and minutes subfields for time)
    #}
    {% if not field.dependent and not fieldName.startsWith("_") %}
      {{ renderField(fieldName, field, options, values, errors) }}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block content %}
  {{ super() }}

  {# Change to true to show debug info #}
  {% if false %}
    <h3>DEBUG</h3>
    <pre>
      action {{ action | dump(2) }}
      nextPage {{ nextPage | dump(2) }}


      errors {{ errors | dump(2) }}


      values {{ values | dump(2) }}


      options.fields {{ options.fields | dump(2) }}

      report {{ report | dump(2) }}
    </pre>
  {% endif %}

{% endblock %}
