{% set pageTitle = "TODO: generate page title, probably in controller" %}

{% extends "partials/formWizardLayout.njk" %}

{% block content %}
  {{ super() }}

  <h3>TODO: Debug</h3>
  <pre>
    action {{ action | dump(2) }}
    nextPage {{ nextPage | dump(2) }}


    errors {{ errors | dump(2) }}


    values {{ values | dump(2) }}


    options.fields {{ options.fields | dump(2) }}

    report {{ report | dump(2) }}
  </pre>

{% endblock %}
