{% extends "partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "moj/components/timeline/macro.njk" import mojTimeline %}

{% set pageTitle = applicationName + " - Report incident type history" %}
{% set bodyClasses = "app-type-history" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: reportUrl
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Incident reference {{ report.reportReference }} – incident type history
      </h1>
      <p>
        When a report’s incident type is changed, a snapshot is taken of the answered questions.
      </p>

      {% if report.history | length %}

        {% set items = [] %}
        {% for item in report.history %}
          {% set html %}
            {% set rows = [] %}
            {% for question in item.questions %}
              {% set responsesHtml %}
                {% for response in question.responses %}
                  {% set inset = response.responseDate or response.additionalInformation or (question.responses | length) > 1 %}

                  {% if inset %}
                    <div class="app-response--inset">
                      {{ response.response }}
                      {% if response.responseDate %}
                        <br />
                        {{ response.responseDate | longDate }}
                      {% endif %}
                      {% if response.additionalInformation %}
                        <br />
                        {{ response.additionalInformation }}
                      {% endif %}
                    </div>
                  {% else %}
                    {{ response.response }}
                  {% endif %}

                {% endfor %}
              {% endset %}
              {% set _ = rows.push({
                key: {
                  text: loop.index + ". " + question.question
                },
                value: {
                  html: responsesHtml
                }
              }) %}
            {% endfor %}

            {{ govukSummaryList({
              rows: rows
            }) }}
          {% endset %}

          {% set _ = items.push({
            label: {
              text: typesLookup[item.type] or item.type
            },
            datetime: {
              timestamp: item.changedAt,
              type: "datetime"
            },
            byline: {
              text: usersLookup[item.changedBy].name or item.changedBy
            },
            html: html
          }) %}
        {% endfor %}

        {{ mojTimeline({
          items: items
        }) }}

      {% else %}

        <p>
          This report’s type has not been changed.
        </p>

      {% endif %}

    </div>
  </div>
{% endblock %}
