{% extends "partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = "Update IRS status in DPS" %}
{% set bodyClasses = "app-update-irs-status" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: "/admin/" + prisonId
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Prison service configuration</h1>

  {{ govukSummaryList({rows:[
      {
        key: {
          text: 'Prison'
        },
        value: {
          text: prisonId
        }
      },
      {
        key: {
          text: 'Service status in DPS'
        },
        value: {
          text: 'Active'
        }
      }
    ]
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Inactivate in DPS",
      name: "formAction",
      value: "continue",
      preventDoubleClick: true,
      type: "submit"
    }) }}

    <a href="/admin/{{prisonId}}" class="govuk-link govuk-link--no-visited-state">
      Cancel and return to prison configuration details
    </a>
  </div>

{% endblock %}
