{% extends "partials/formWizardLayout.njk" %}

{% set pageTitle = "Some of your answers will be deleted" %}
{% set bodyClasses = "app-confirm-change-type" %}

{% block formFields %}
  <p>
    Changing the type of incident will remove most of your responses.
  </p>
{% endblock %}
