{% extends "partials/formWizardLayout.njk" %}

{% set pageTitle %}{{ aboutTheType }} – {% if questionCountOnPage == 1 -%}
  question {{ firstQuestionNumber }}
{%- else -%}
  questions {{ firstQuestionNumber }} to {{ firstQuestionNumber + questionCountOnPage - 1 }}
{%- endif %}{% endset %}
{% set bodyClasses = "app-questions" %}
{% set allowSaveAndExit = true %}

{% block formFields %}
  {% from "macros/renderField.njk" import renderField %}

  {% set index = 0 %}
  {# NB: Fields are rendered in the original order #}
  {% for fieldName in questionSteps[options.route].fields %}
    {% set field = options.fields[fieldName] %}

    {# NB:
      - dependent fields are currently only used in conditionals so are rendered separately
    #}
    {% if not field.dependent %}
      {% set label = (firstQuestionNumber + index) + ". " + field.label %}
      {% set field = mergeObjects(field, {label: label}) %}
      <div class="app-question-block">
        <a id="question-{{ fieldName }}"></a>
        {{ renderField(fieldName, field, options, values, errors) }}
      </div>
      {% set index = index + 1 %}
    {% endif %}
  {% endfor %}
{% endblock %}
