{% extends "partials/formWizardLayout.njk" %}

{% set pageTitle %}{{ aboutTheType }} – {% if questionCountOnPage == 1 -%}
  question {{ firstQuestionNumber }}
{%- else -%}
  questions {{ firstQuestionNumber }} to {{ firstQuestionNumber + questionCountOnPage - 1 }}
{%- endif %}{% endset %}
{% set bodyClasses = "app-questions" %}
{% set allowSaveAndExit = true %}

{% block formFields %}
  {% from "macros/renderField.njk" import renderField %}

  {% set index = 0 %}
  {# NB: Fields are rendered in the original order #}
  {% for fieldName in questionSteps[options.route].fields %}
    {% set field = options.fields[fieldName] %}

    {% if field.singleAnswer %}
      {# Single-answer question: the answer is auto-selected via a hidden input.
         Date/comment sub-fields are rendered directly inside a fieldset, skipping
         the unnecessary radio/checkbox selection step. #}
      {% set numberedLabel = (firstQuestionNumber + index) + ". " + field.label %}
      <div class="app-question-block">
        <a id="question-{{ fieldName }}"></a>
        <input type="hidden" name="{{ fieldName }}" value="{{ values[fieldName] | default(field.default) }}" />
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              {{ numberedLabel }}
            </legend>
            {% if field.hint %}
              <div class="govuk-hint">{{ field.hint }}</div>
            {% endif %}
            {% for subfieldName, subfield in options.fields %}
              {% if subfield.dependent and subfield.dependent.field == fieldName %}
                {{ renderField(subfieldName, subfield, options, values, errors) }}
              {% endif %}
            {% endfor %}
          </fieldset>
        </div>
      </div>
      {% set index = index + 1 %}

    {% elif not field.dependent %}
      {# NB:
        - dependent fields are currently only used in conditionals so are rendered separately
      #}
      {% set label = (firstQuestionNumber + index) + ". " + field.label %}
      {% set field = mergeObjects(field, {label: label}) %}
      <div class="app-question-block">
        <a id="question-{{ fieldName }}"></a>
        {{ renderField(fieldName, field, options, values, errors) }}
      </div>
      {% set index = index + 1 %}
    {% endif %}
  {% endfor %}
{% endblock %}
