{% extends "partials/formWizardLayout.njk" %}

{# TODO: title will need to become type-specific once content is ready #}
{% set pageTitle %}About the incident – {% if questionCountOnPage == 1 -%}
  question {{ firstQuestionNumber }}
{%- else -%}
  questions {{ firstQuestionNumber }} to {{ firstQuestionNumber + questionCountOnPage - 1 }}
{%- endif %}{% endset %}
{% set bodyClasses = "app-questions" %}

{% block formFields %}
  {% from "macros/renderField.njk" import renderField %}

  {% set index = 0 %}
  {# NB: Fields are rendered in the original order #}
  {% for fieldName in questionSteps[options.route].fields %}
    {% set field = options.fields[fieldName] %}

    {# NB:
      - dependent fields are currently only used in conditionals so are rendered separately
    #}
    {% if not field.dependent %}
      {% set label = (firstQuestionNumber + index) + ". " + field.label %}
      {% set field = mergeObjects(field, {label: label}) %}
      <div class="app-question-block">
        <a id="question-{{ fieldName }}"></a>
        {{ renderField(fieldName, field, options, values, errors) }}
      </div>
      {% set index = index + 1 %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block content %}
  {{ super() }}

  {# Change to true to show debug info #}
  {% if false %}
    <h3>DEBUG</h3>
    <pre>
      action {{ action | dump(2) }}
      nextPage {{ nextPage | dump(2) }}


      errors {{ errors | dump(2) }}


      values {{ values | dump(2) }}


      options.fields {{ options.fields | dump(2) }}

      report {{ report | dump(2) }}
    </pre>
  {% endif %}

{% endblock %}
