{% from "govuk/components/select/macro.njk" import govukSelect %}

{#  -------------------------------------------------------------
    Auto complete control
    Params values
        - same as govukSelect
        - nonce - required for script CSP
    ------------------------------------------------------------- #}
{% macro accessibleAutocomplete(params) %}
  {% set attributes = mergeObjects(params.attributes or {}, {"data-module": "autocomplete-enhanced-select"}) %}
  {% set params = mergeObjects(params, {attributes: attributes}) %}
  {{ govukSelect(params) }}
{% endmacro %}
