{% from "govuk/components/select/macro.njk" import govukSelect %}

{#  -------------------------------------------------------------
    Auto complete control
    Params values
        - same as govukSelect
        - nonce - required for script CSP
    ------------------------------------------------------------- #}
{% macro accessibleAutocomplete(params) %}
  {{ govukSelect(params) }}

  <script nonce="{{ params.nonce }}">
    window.accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#{{ params.id }}'),
      showAllValues: false,
      autoselect: false,
      defaultValue: '',
    })
  </script>
{% endmacro %}
