$govuk-global-styles: true;
$govuk-suppressed-warnings: 'ie8';
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/error-pages';
@import './components/header-bar';

@import './local';
