$govuk-global-styles: true;
$govuk-suppressed-warnings: 'ie8', 'govuk-typography-scale-14', 'legacy-organisation-colours';
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk-frontend/dist/govuk';
@import '@ministryofjustice/frontend/moj/all';
@import 'accessible-autocomplete/dist/accessible-autocomplete.min';

@import './components/accessible-autocomplete';
@import './components/correction-requests';
@import './components/description-chunks';
@import './components/diaglogue';
@import './components/dps-card';
@import './components/error-pages';
@import './components/header-bar';
@import './components/prisoner-photo';
@import './components/questions-list';
@import './components/sortable-table';
@import './components/involvement-table';

@import './page/dashboard';
@import './page/details';
@import './page/involvement';
@import './page/request-remove';
@import './page/type';
@import './page/view-report';

@import './overrides/local';
