{% extends "pages/involvements/summary.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set bodyClasses = "app-involvement-summary app-prisoner-summary" %}

{% block resultsTable %}

  {% if report.createdInNomis %}
    {% set head = [
      { text: "Prisoner" },
      { text: "Role" },
      { text: "Outcome" },
      { text: "Details" },
      { text: "Action" }
    ] %}
  {% else %}
    {% set head = [
      { text: "Prisoner" },
      { text: "Role" },
      { text: "Details" },
      { text: "Action" }
    ] %}
  {% endif %}

  {% set rows = [] %}
  {% for prisoner in report.prisonersInvolved %}
    {% set actionCell %}
      <a href="{{ reportSubUrlPrefix }}/prisoners/remove/{{ loop.index }}">Remove</a> |
      <a href="{{ reportSubUrlPrefix }}/prisoners/{{ loop.index }}">Edit</a>
    {% endset %}
    {% if report.createdInNomis %}
      {% set rows = (rows.push(
        [
          { text: prisoner.prisonerNumber + ": " + (prisoner | nameOfPerson), classes: "govuk-table__cell--numeric govuk-!-text-align-left" },
          { text: prisonerInvolvementRolesDescriptions[prisoner.prisonerRole] or prisoner.prisonerRole },
          { text: prisonerInvolvementOutcomesDescriptions[prisoner.outcome] or prisoner.outcome },
          { html: prisoner.comment | escape | nl2br },
          { html: actionCell }
        ]
        ), rows) %}
    {% else %}
      {% set rows = (rows.push(
        [
          { text: prisoner.prisonerNumber + ": " + (prisoner | nameOfPerson), classes: "govuk-table__cell--numeric govuk-!-text-align-left" },
          { text: prisonerInvolvementRolesDescriptions[prisoner.prisonerRole] or prisoner.prisonerRole },
          { html: prisoner.comment | escape | nl2br },
          { html: actionCell }
        ]
        ), rows) %}
    {% endif %}
  {% endfor %}

  {{ govukTable({
    classes: "app-involvement-table",
    head: head,
    rows: rows
  }) }}

{% endblock %}

{% block noResults %}
  <p class="govuk-!-margin-bottom-8">No prisoners have been added to this incident report.</p>
{% endblock %}
