.app-dashboard__search-box {
  background-color: govuk-colour("light-grey");

  .autocomplete__input {
    background-color: $govuk-body-background-colour;
  }

  .govuk-checkboxes__label::before {
    background-color: $govuk-body-background-colour;
  }

  .govuk-button-group {
    margin-bottom: 0;
  }
}

.app-dashboard__description-cell {
  overflow: hidden;
  max-width: 30rem;
  max-height: 3rem;
  text-overflow: ellipsis;
  word-break: break-all;

  // non-standard properties below degrade gracefully enough: ellipsis disappears
  display: -moz-box;
  display: -ms-box;
  display: -webkit-box;
  display: box;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.app-dashboard__status-cell {
  .govuk-details{
    margin-bottom: 0;
  }
}
