.app-involvement-request {
  #confirmAdd__form-group legend {
    display: none;
  }
}

.app-involvement {
  #comment__label {
    @extend .govuk-label--m;
  }
}

.app-involvement-search-form__name-row {
  @include govuk-media-query($from: desktop) {
    display: flex;
    align-items: flex-end;
    gap: $govuk-gutter-half;

    > .govuk-form-group {
      flex: 3;
    }

    > .govuk-button-group {
      flex: 1;
    }
  }
}

.app-staff-involvement {
  #staffRole__form-group legend {
    display: none;
  }
}
