.app-prisoner-request {
  #addPrisoner__form-group legend {
    display: none;
  }
}

.app-prisoner-search-form__name-row {
  @include govuk-media-query($from: desktop) {
    display: flex;
    align-items: flex-end;
    gap: $govuk-gutter-half;

    > .govuk-form-group {
      flex: 2;
    }

    > .govuk-button-group {
      flex: 1;
    }
  }
}
