.app-description-chunks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-description-chunk + .app-description-chunk {
  @include govuk-responsive-margin(6, "top");
}

.app-description-chunk p {
  margin: 0;
}
