.app-dialogue {
  background: govuk-functional-colour('body-background');
  border: $govuk-border-width-form-element solid govuk-functional-colour('text');
  padding: 0;

  &:focus {
    outline: $govuk-focus-width solid govuk-functional-colour('focus');
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  @media print {
    display: none;
  }
}

.app-dialogue__header {
  padding: 0;
  background: govuk-functional-colour('text');
}

.app-dialogue__close-button {
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  border: $govuk-border-width-form-element solid govuk-functional-colour('text');
  margin: 0;
  padding: 0 7px;
  background: govuk-functional-colour('text');
  color: govuk-functional-colour('body-background');
  cursor: pointer;
  @include govuk-font($size: 24);

  &:focus {
    background: govuk-functional-colour('focus');
    color: govuk-functional-colour('text');
    outline: $govuk-focus-width solid transparent;
  }
}

.app-dialogue__body {
  padding: govuk-spacing(4) govuk-spacing(4) 0;
  background: govuk-functional-colour('body-background');

  p {
    color: govuk-functional-colour('text');
    @include govuk-font($size: 24, $weight: bold);
  }
}
