.horizontal-information {
  @media print, (min-width: #{map-get($govuk-breakpoints, 'tablet')}) {
    padding-bottom: 0;
    display: flex;
  }

  &--with-border {
    padding: govuk-spacing(3) 0;
    border-top: 1px solid $govuk-border-colour;
    border-bottom: 1px solid $govuk-border-colour;
  }

  &__item {
    @media print, (min-width: #{map-get($govuk-breakpoints, 'tablet')}) {
      //flex: 1 1 0;
      padding-right: govuk-spacing(9);

      &--tenth {
        flex-basis: 10%;
      }

      &:last-child {
        padding-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.horizontal-form {
  @include govuk-media-query($from: desktop) {
    display: flex;
    flex-flow: row wrap;

    > * {
      margin: govuk-spacing(3) govuk-spacing(3) 0 0;
    }

    > .govuk-button-group {
      align-self: center;

      .govuk-button {
        margin-bottom: $govuk-border-width-form-element;
      }

      .govuk-link {
        margin-bottom: 0;
      }
    }
  }

  @include govuk-media-query($until: desktop) {
    .govuk-select {
      width: 100%;
    }
    .govuk-input {
      width: 50%;
    }
  }

  &.horizontal-form--with-errors {
    flex-flow: column;
    gap: govuk-spacing(3);

    > .govuk-button-group {
      align-self: flex-start;
    }
  }
}

.horizontal-form__wrapper {
  .govuk-grid-row{
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .govuk-grid-column-one-half-from-desktop {
    box-sizing: border-box;
    padding: 0 15px 0 0;
  }
  .govuk-grid-column-one-quarter-from-desktop {
    box-sizing: border-box;
    padding: 0 15px 0 0;
  }
  background-color: govuk-colour("light-grey");
  .autocomplete__input {
    background-color: $govuk-body-background-colour;
    width: 100%
  }
  @media (min-width:40.0625em) {
    .govuk-checkboxes--small {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start
    }
    .govuk-checkboxes__label {
      max-width: None;
    }
  }
}
