{% extends "partials/layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "macros/accessible-autocomplete/macro.njk" import accessibleAutocomplete %}

{% set pageTitle = "Incident reports" %}
{% set bodyClasses = "app-dashboard" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      },
      {
        text: "Incident reporting",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  {% include "partials/notificationBanner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors | length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}
    </div>
  </div>

  <h1 class="govuk-heading-l">Search incident reports</h1>

  <div class="govuk-button-group">
    {% if permissions.canCreateReportInActiveCaseload %}
      {{ govukButton({
        text: "Create a report for " + activeCaseLoad.description,
        preventDoubleClick: true,
        href: "/create-report"
      }) }}
    {% elif permissions.canCreateReportInActiveCaseloadInNomisOnly %}
      {{ govukWarningText({
        text: "You must use NOMIS to create reports in this establishment",
        iconFallbackText: "Warning"
      }) }}
    {% endif %}

    {% if permissions.canCreatePecsReport %}
      {{ govukButton({
        text: "Create a PECS report",
        preventDoubleClick: true,
        href: "/create-report/pecs"
      }) }}
    {% elif permissions.canCreatePecsReportInNomisOnly %}
      {{ govukWarningText({
        text: "You must use NOMIS to create PECS reports",
        iconFallbackText: "Warning"
      }) }}
    {% endif %}
  </div>

  <div class="app-dashboard__search-box govuk-!-padding-3 govuk-!-margin-bottom-5">
    <form id="app-dashboard__search-form" method="get" novalidate>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
          {{ govukInput({
            id: "searchID",
            name: "searchID",
            label: {text: "Search an incident number or offender ID"},
            value: formValues.searchID,
            errorMessage: errors | findFieldInGovukErrorSummary("searchID")
          }) }}
        </div>

        <div class="govuk-grid-column-one-quarter-from-desktop">
          {{ mojDatePicker({
            id: "fromDate",
            name: "fromDate",
            label: {text: "Incident date from"},
            value: formValues.fromDate,
            maxDate: todayAsShortDate,
            errorMessage: errors | findFieldInGovukErrorSummary("fromDate")
          }) }}
        </div>

        <div class="govuk-grid-column-one-quarter-from-desktop">
          {{ mojDatePicker({
            id: "toDate",
            name: "toDate",
            label: {text: "Incident date to"},
            value: formValues.toDate,
            maxDate: todayAsShortDate,
            errorMessage: errors | findFieldInGovukErrorSummary("toDate")
          }) }}
        </div>
      </div>

      <div class="govuk-grid-row">

        {% if showLocationFilter %}
          <div class="govuk-grid-column-one-half-from-desktop">
            {{ accessibleAutocomplete({
              id: "location",
              name: "location",
              label: {text: "Location"},
              items: allLocations | govukSelectInsertDefault("All locations") | govukSelectSetSelected(formValues.location),
              value: formValues.location or "",
              errorMessage: errors | findFieldInGovukErrorSummary("location")
            }) }}
          </div>
        {% endif %}

        <div class="govuk-grid-column-one-half-from-desktop">
          {{ accessibleAutocomplete({
            id: "typeFamily",
            name: "typeFamily",
            label: {text: "Incident type"},
            items: typeFamilyItems | govukSelectInsertDefault("All incident types") | govukSelectSetSelected(formValues.typeFamily),
            value: formValues.typeFamily or "",
            errorMessage: errors | findFieldInGovukErrorSummary("typeFamily")
          }) }}
        </div>

      </div>

      {% if showWorkListFilters %}
        {% include "./workListFilters.njk" %}
      {% else %}
        {% include "./statusFilters.njk" %}
      {% endif %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Apply filters",
              preventDoubleClick: true,
              type: "submit",
              attributes: {
                "data-test": "filter-submit"
              }
            }) }}

            <a href="?clearFilters=All" class="govuk-link govuk-link--no-visited-state" id="clearFilter">Clear filters</a>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="app-dashboard__status-hints">
    {% set statusHintsRows = [] %}
    {% for status, description in statusHints %}
      {% set _ = statusHintsRows.push(
        {
          key: { text: statusesDescriptions[status] },
          value: { text: description }
        }
      ) %}
    {% endfor %}

    {% set statusDetailsHtml %}
      {{ govukSummaryList({ rows: statusHintsRows }) }}
    {% endset %}

    {{ govukDetails({
      summaryText: "Help with statuses",
      html: statusDetailsHtml
    }) }}
  </div>

  {% if reports.length > 0 %}

    {% set rows = [] %}
    {% for report in reports %}
      {% set linkHtml %}
        <a href="/reports/{{ report.id }}">
          <span class="govuk-visually-hidden">
            Incident report
          </span>
          {{ report.reportReference }}
        </a>
      {% endset %}

      {% set descriptionHtml %}
        <div class="app-dashboard__description-cell">
          {{ report.description | escape | nl2br }}
        </div>
      {% endset %}

      {% set statusHtml %}
        <div class="app-dashboard__status-cell">
          {% if report.status in workListMapping['toDo'] %}
            {% set tagClass = 'govuk-tag--grey' %}
          {% elif report.status in workListMapping['submitted'] %}
            {% set tagClass = 'govuk-tag--yellow' %}
          {% elif report.status in workListMapping['completed'] %}
            {% set tagClass = 'govuk-tag--blue' %}
          {% endif %}

          {{ govukTag({
            text: statusesDescriptions[report.status] or report.status,
            classes: tagClass
          }) }}
        </div>
      {% endset %}

      {% if showLocationFilter %}
        {% set rows = (rows.push(
          [
            { html: linkHtml },
            { text: typesDescriptions[report.type] or report.type },
            { text: report.incidentDateAndTime | shortDateAndTime },
            { html: descriptionHtml },
            { text: locationLookup[report.location] or report.location },
            { html: statusHtml }
          ]
        ), rows) %}
      {% else %}
        {% set rows = (rows.push(
          [
            { html: linkHtml },
            { text: typesDescriptions[report.type] or report.type },
            { text: report.incidentDateAndTime | shortDateAndTime },
            { html: descriptionHtml },
            { text: usersLookup[report.reportedBy].name or report.reportedBy },
            { html: statusHtml }
          ]
        ), rows) %}
      {% endif %}
    {% endfor %}

    <div id='results-table' class="moj-scrollable-pane app-sortable-table-container govuk-!-margin-top-4">
      {{ govukTable({
        caption: "Incidents",
        captionClasses: "govuk-visually-hidden",
        classes: "app-report-table app-sortable-table",
        head: tableHead,
        rows: rows
      }) }}
    </div>

    {{ mojPagination(paginationParams) }}

  {% else %}

    <p>No incident report found.</p>

  {% endif %}

{% endblock %}
