{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageTitle = applicationName + " prisoners involved in report" %}
{% set bodyClasses = "app-prisoner-summary" %}

{% block beforeContent %}
{{ super() }}

{{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}

  {% if banner.success %}
    {% set html %}
      <h3 class="govuk-notification-banner__heading">
        {{ banner.success.title }}
      </h3>
    {% endset %}

    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-0">
        <div class="govuk-grid-column-two-thirds">
          {{ govukNotificationBanner({
          html: html,
          type: "success",
          classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-0"
          }) }}
        </div>
      </div>
    </div>
  {% endif %}

  {% include "partials/errorSummary.njk" %}

  <h1 class="govuk-heading-l">Prisoners involved</h1>

  {% if showTable %}

    {% set rows = [] %}
    {% for prisoner in report.prisonersInvolved %}
      {% set removeLink = '/reports/' + report.id + '/remove-prisoner/' + prisoner.sequence %}
      {% if report.createdInNomis %}
        {% set rows = (rows.push(
          [
            { text: prisoner.prisonerNumber + ': ' + (prisoner | nameOfPerson) },
            { text: prisonerInvolvementLookup[prisoner.prisonerRole] or prisoner.prisonerRole },
            { text: prisonerOutcomeLookup[prisoner.outcome] or prisoner.outcome },
            { text: prisoner.comment },
            { html: "<a href='" + removeLink + "'>Remove</a>" + ' | ' + "<a href='/reports/'>Edit</a>" }
          ]
          ), rows) %}
      {% else %}
        {% set rows = (rows.push(
          [
            { text: prisoner.prisonerNumber + ': ' + (prisoner | nameOfPerson) },
            { text: prisonerInvolvementLookup[prisoner.prisonerRole] or prisoner.prisonerRole },
            { text: prisoner.comment },
            { html: "<a href='" + removeLink + "'>Remove</a>" + ' | ' + "<a href='/reports/'>Edit</a>" }
          ]
          ), rows) %}
      {% endif %}
    {% endfor %}

    {{ govukTable({
      classes: "app-involvement-table",
      head: tableHeading,
      rows: rows
    }) }}

  {% else %}
    <p>No prisoners have been added to this incident report.</p>
  {% endif %}

  <form id="addAnotherPrisoner" method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}" />

    {% if showTable %}
      {% set radioLegend = 'Do you want to add another prisoner?' %}
    {% else %}
      {% set radioLegend = 'Do you want to add a prisoner?' %}
    {% endif %}

    {% if errors['addPrisoner'] %}
      {% set errorMessage = { text: errors['addPrisoner'].message } %}
    {% else %}
      {% set errorMessage = undefined %}
    {% endif %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "addPrisoner",
      id: "addPrisoner",
      fieldset: {
        legend: {
          text: radioLegend,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ],
      errorMessage: errorMessage
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        name: "submit",
        value: "continue",
        preventDoubleClick: true,
        type: "submit"
      }) }}

      {{ govukButton({
        text: "Save and exit",
        name: "submit",
        value: "exit",
        preventDoubleClick: true,
        classes: "govuk-button--secondary",
        href: "/reports/" + report.id
      }) }}
    </div>
  </form>

{% endblock %}
