{% extends "../../partials/layout.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


{% set title = "Incident police informed" %}

{% block heading %}
  <h1 class="govuk-heading-l">Incident police informed</h1>
{% endblock %}

{% block beforeContent %}
  {% if backLink %}
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorlist.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: validationErrors,
          classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-0"
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% set formMethod = options.method | default('post') %}
  {% set formAction = options.action | default('') %}
  {% set formEnctype = options.enctype | default('') %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Incident police informed</h1>
      {{ govukInsetText({
        text: "This page will address the police involvement."
      }) }}

      <form method="{{ formMethod }}" action="{{ formAction }}"
          {% if formEnctype %}
            enctype="{{ formEnctype }}"
          {% endif %}
      >

        {% if formMethod == 'post' %}
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% endif %}

        {% block fields %}
          {% for key, fieldsOptions in fields %}
            {% if fieldsOptions.component and not fieldsOptions.skip %}
              {{ callAsMacro(fieldsOptions.component)(fieldsOptions) }}
            {% endif %}
          {% endfor %}
        {% endblock %}

        <div class="govuk-button-group">
          {% block formActions %}
            {% block submitAction %}
              {{ govukButton({
                text: "Save and continue",
                classes: options.buttonClasses,
                preventDoubleClick: true,
                type: "submit"
              }) }}
            {% endblock %}

            {% block cancelAction %}
              {% if cancelUrl %}
                <a href="{{ cancelUrl }}" class="govuk-link--no-visited-state">
                  Cancel
                </a>
              {% endif %}
            {% endblock %}
          {% endblock %}
        </div>
      </form>

      <p>
        <a href="{{ cancelLink }}" class="govuk-link--no-visited-state">
          Cancel
        </a>
      </p>
    </div>
  </div>
{% endblock %}
