{% extends "../../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}

{% set pageTitle = "Search for a prisoner" %}

{% block content %}
  {% include "../../partials/formErrorSummary.njk" %}

  <h1 class="govuk-heading-l">Search for a prisoner to add to incident</h1>

  <form method="get" novalidate>
    {% set fieldId = "scope" %}
    {% set field = form.fields[fieldId] %}
    {{ govukRadios({
      attributes: { id: formId + "-" + fieldId },
      classes: "govuk-radios--inline govuk-radios--small",
      name: fieldId,
      fieldset: {
        legend: {
          text: "Search for prisoners",
          classes: "govuk-visually-hidden"
        }
      },
      items: [
        {value: "prison", text: "In " + prisonName},
        {value: "global", text: "In any establishment (global)"}
      ] | govukCheckedItems(field.value if field.value else "prison"),
      errorMessage: { text: field.error } if field.error else undefined
    }) }}

    <div class="app-prisoner-search-form govuk-!-margin-bottom-3">
      {% set fieldId = "q" %}
      {% set field = form.fields[fieldId] %}
      {{ govukInput({
        label: {
          text: "Name or prison number"
        },
        id: formId + "-" + fieldId,
        name: fieldId,
        value: field.value,
        errorMessage: { text: field.error } if field.error else undefined
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Search",
          preventDoubleClick: true
        }) }}

        <a href="/incidents" class="govuk-link--no-visited-state">
          Cancel
        </a>
      </div>
    </div>

    <input type="hidden" name="page" value="1" /> {#- a new search should always start on first page #}
    <input type="hidden" name="formId" value="{{ formId }}" />
  </form>

  {% if form.submitted and not form.hasErrors %}
    {% if searchResults.content.length > 0 %}
      {{ mojPagination(paginationParams) }}

      {% set tableRows = [] %}
      {% for result in searchResults.content %}

        {% set photo %}
          <img src="/prisoner/{{ result.prisonerNumber }}/photo.jpeg" alt="Photo of {{ result | nameOfPerson }}" class="app-prisoner-photo" />
        {% endset %}

        {% set name %}
          <a href="{{ dpsUrl }}/prisoner/{{ result.prisonerNumber }}">
            <span class="govuk-visually-hidden">View prisoner profile for</span>
            {{ result | reversedNameOfPerson }}
          </a>
        {% endset %}

        {% if result | isBeingTransferred %}
          {% set location = result | prisonerLocation %}
          {% set establishment = "N/A" %}
        {% elif result | isOutside %}
          {% set location = "N/A" %}
          {% set establishment = result | prisonerLocation %}
        {% else %}
          {% set location = result.cellLocation or "Not known" %}
          {% set establishment = result.prisonName or "Not known" %}
        {% endif %}

        {% set link %}
          <a href="/report/{{ incidentId }}/add-prisoner/{{ result.prisonerNumber }}">
            Select prisoner
          </a>
        {% endset %}

        {% set _ = tableRows.push([
          {html: photo, classes: "app-prisoner-search__cell--photo"},
          {html: name, classes: "app-prisoner-search__cell--name"},
          {text: result.prisonerNumber, classes: "app-prisoner-search__cell--prisoner-number"},
          {text: location, classes: "app-prisoner-search__cell--location"},
          {text: establishment, classes: "app-prisoner-search__cell--prison-name"},
          {html: link, classes: "app-prisoner-search__cell--actions"}
        ]) %}
      {% endfor %}

      <div class="app-sortable-table-container govuk-!-margin-top-4">
        {{ govukTable({
          caption: "Prisoner search results",
          captionClasses: "govuk-visually-hidden",
          classes: "app-sortable-table",
          head: tableHead,
          rows: tableRows
        }) }}
      </div>

      {{ mojPagination(paginationParams) }}
    {% else %}

      <p>
        0 results found for “{{ form.fields.q.value }}”.
      </p>

    {% endif %}
  {% endif %}
{% endblock %}
