generic-service:
  replicaCount: 2

  scheduledDowntime:
    enabled: true

  ingress:
    host: incident-reporting-dev.hmpps.service.justice.gov.uk
    modsecurity_audit_enabled: true

  allowlist: null

  env:
    ENVIRONMENT: dev

    INGRESS_URL: "https://incident-reporting-dev.hmpps.service.justice.gov.uk"
    DPS_URL: "https://digital-dev.prison.service.justice.gov.uk"
    SUPPORT_URL: "https://support-dev.hmpps.service.justice.gov.uk"
    INCIDENT_TYPES_OVERRIDE: "BC_DISRUPT_3RD_PTY_1,BC_FUEL_SHORTAGE_1,BC_LOSS_ACCESS_EGRESS_1,BC_LOSS_COMMS_1,BC_LOSS_UTILS_1,BC_SERV_WEATHER_1,BC_STAFF_SHORTAGES_1,BC_WIDESPREAD_ILLNESS_1"

    COMPONENT_API_URL: "https://frontend-components-dev.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    HMPPS_INCIDENT_REPORTING_API_URL: "https://incident-reporting-api-dev.hmpps.service.justice.gov.uk"
    HMPPS_PRISON_API_URL: "https://prison-api-dev.prison.service.justice.gov.uk"
    MANAGE_USERS_API_URL: "https://manage-users-api-dev.hmpps.service.justice.gov.uk"
    NOMIS_USER_ROLES_API_URL: "https://nomis-user-roles-api-dev.prison.service.justice.gov.uk"
    OFFENDER_SEARCH_API_URL: "https://prisoner-search-dev.prison.service.justice.gov.uk"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-dev.prison.service.justice.gov.uk"

generic-prometheus-alerts:
  alertSeverity: hmpps-incident-reporting-dev
  businessHoursOnly: true
