{% set bodyClasses = "app-involvement app-staff-involvement" %}
{% set allowSaveAndExit = true %}

{% extends "partials/formWizardLayout.njk" %}

{% block heading %}
  {{ options.fields.staffRole.label }}
{% endblock %}
