{% extends "pages/involvements/summary.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set bodyClasses = "app-involvement-summary app-staff-summary" %}

{% block resultsTable %}

  {% set rows = [] %}
  {% for staff in report.staffInvolved %}
    {% set staffName = (staff | nameOfPerson) %}
    {% set actionCell %}
      <a href="{{ reportSubUrlPrefix }}/staff/remove/{{ loop.index }}">Remove<span class="govuk-visually-hidden"> {{ staffName }}</span></a> |
      <a href="{{ reportSubUrlPrefix }}/staff/{{ loop.index }}">Edit<span class="govuk-visually-hidden"> {{ staffName }}</span></a>
    {% endset %}
    {% set rows = (rows.push(
      [
        { text: staffName },
        { text: staffInvolvementRolesDescriptions[staff.staffRole] or staff.staffRole },
        { text: staff.comment | escape | nl2br },
        { html: actionCell }
      ]
      ), rows) %}
  {% endfor %}

  <div class="moj-scrollable-pane">
    {{ govukTable({
      classes: "app-involvement-table",
      head: [
        { text: "Staff" },
        { text: "Role" },
        { text: "Details" },
        { text: "Action" }
      ],
      rows: rows
    }) }}
  </div>

{% endblock %}

{% block noResults %}
  <p class="govuk-!-margin-bottom-8">No staff members have been added to this incident report.</p>
{% endblock %}
