{% extends "pages/involvements/summary.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set bodyClasses = "app-involvement-summary app-staff-summary" %}

{% block resultsTable %}

  {% set rows = [] %}
  {% for staff in report.staffInvolved %}
    {% set actionCell %}
      <a href="{{ reportSubUrlPrefix }}/staff/remove/{{ loop.index }}">Remove</a> |
      <a href="{{ reportSubUrlPrefix }}/staff/{{ loop.index }}">Edit</a>
    {% endset %}
    {% set rows = (rows.push(
      [
        { text: (staff | nameOfPerson) },
        { text: staffInvolvementLookup[staff.staffRole] or staff.staffRole },
        { text: staff.comment | escape | nl2br },
        { html: actionCell }
      ]
      ), rows) %}
  {% endfor %}

  {{ govukTable({
    classes: "app-involvement-table",
    head: [
      { text: "Staff" },
      { text: "Role" },
      { text: "Details" },
      { text: "Action" }
    ],
    rows: rows
  }) }}

{% endblock %}

{% block noResults %}
  <p class="govuk-!-margin-bottom-8">No staff members have been added to this incident report.</p>
{% endblock %}
