{% extends "partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set bodyClasses = "app-involvement-summary app-staff-summary" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
      text: "Back",
      href: backLink
  }) }}

  {% include "partials/notificationBanner.njk" %}
{% endblock %}

{% block content %}

  {% include "partials/errorSummary.njk" %}

  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {% if report.staffInvolved | length %}

    {% set rows = [] %}
    {% for staff in report.staffInvolved %}
      {% set actionCell %}
        <a href="/reports/{{ report.id }}/staff/remove/{{ loop.index }}">Remove</a> |
        <a href="/reports/{{ report.id }}/staff/{{ loop.index }}">Edit</a>
      {% endset %}
      {% set rows = (rows.push(
        [
          { text: (staff | nameOfPerson) },
          { text: staffInvolvementLookup[staff.staffRole] or staff.staffRole },
          { text: staff.comment | escape | nl2br },
          { html: actionCell }
        ]
        ), rows) %}
    {% endfor %}

    {{ govukTable({
      classes: "app-involvement-table",
      head: [
        { text: "Staff" },
        { text: "Role" },
        { text: "Details" },
        { text: "Action" }
      ],
      rows: rows
    }) }}

  {% else %}

    <p class="govuk-!-margin-bottom-8">No staff members have been added to this incident report.</p>

  {% endif %}

  <form id="addAnotherStaff" method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}" />

    {% if report.staffInvolved | length %}
      {% set radioLegend = "Do you want to add another member of staff?" %}
    {% else %}
      {% set radioLegend = "Do you want to add a member of staff?" %}
    {% endif %}

    {% set fieldName = "confirmAdd" %}
    {% set field = options.fields[fieldName] %}
    {% set items = [] %}
    {% for item in field.items %}
      {% set _ = items.push({
        value: item.value,
        text: item.label,
        hint: {text: item.hint} if item.hint else undefined
      }) %}
    {% endfor %}
    {{ govukRadios({
      name: fieldName,
      attributes: { id: fieldName },
      classes: "govuk-radios--inline",
      formGroup: {
        attributes: { id: fieldName + "__form-group" }
      },
      fieldset: {
        legend: {
          text: radioLegend,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: items,
      hint: { text: field.hint } if field.hint else undefined,
      errorMessage: { text: errors[fieldName].message } if errors[fieldName] else undefined
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        name: "submit",
        value: "continue",
        preventDoubleClick: true,
        type: "submit"
      }) }}

      {{ govukButton({
        text: "Save and exit",
        name: "submit",
        value: "exit",
        preventDoubleClick: true,
        classes: "govuk-button--secondary",
        href: "/reports/" + report.id
      }) }}
    </div>
  </form>

{% endblock %}
