{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " – Authorisation Error" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Authorisation Error
      </h1>
      <p>
        You are not authorised to use this application.
      </p>

    </div>
  </div>
{% endblock %}
