{% extends "../partials/layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "macros/accessible-autocomplete/macro.njk" import accessibleAutocomplete %}

{% set pageTitle = applicationName + " - Home" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% if permissions.canCreateReport %}
    {% if permissions.canCreateReportInActiveCaseload %}
      {{ govukButton({
        text: "Report an incident",
        preventDoubleClick: true,
        href: "/create-report",
        isStartButton: true
      }) }}
    {% else %}
      {{ govukWarningText({
        text: "You must use NOMIS to create reports in this establishment",
        iconFallbackText: "Warning"
      }) }}
    {% endif %}
  {% endif %}

  <div class="horizontal-form__wrapper govuk-!-padding-3 govuk-!-margin-bottom-5">
    <h1 class="govuk-heading-l">Incident reports</h1>

    <form class="horizontal-form {% if errors.length > 0 %}horizontal-form--with-errors{% endif %} govuk-!-margin-bottom-3" method="get" novalidate>
      {{ govukInput({
        id: "searchID",
        name: "searchID",
        label: {
          text: "Search an incident number or offender ID",
          classes: "govuk-label--s"
        },
        classes: "govuk-!-width-half",
        value: formValues.searchID,
        errorMessage: errors | findFieldInGovukErrorSummary("searchID")
      }) }}

      {{ mojDatePicker({
        id: "fromDate",
        name: "fromDate",
        label: {
          text: "Incident date from",
          classes: "govuk-label--s"
        },
        value: formValues.fromDate,
        maxDate: todayAsShortDate,
        errorMessage: errors | findFieldInGovukErrorSummary("fromDate"),
        leadingZeros: "true"
      }) }}

      {{ mojDatePicker({
        id: "toDate",
        name: "toDate",
        label: {
          text: "Incident date to",
          classes: "govuk-label--s"
        },
        value: formValues.toDate,
        maxDate: todayAsShortDate,
        errorMessage: errors | findFieldInGovukErrorSummary("toDate"),
        leadingZeros: "true"
      }) }}

      {% if showEstablishmentsFilter %}
        {{ accessibleAutocomplete({
          id: 'location',
          label: 'Establishment',
          items: establishments,
          value: formValues.location or "",
          errorMessage: errors | findFieldInGovukErrorSummary("location"),
          class: "govuk-!-width-half",
          nonce: cspNonce
        }) }}
      {% endif %}

      {{ accessibleAutocomplete({
        id: "incidentType",
        label: "Incident type",
        items: incidentTypes,
        value: formValues.incidentType or "",
        errorMessage: errors | findFieldInGovukErrorSummary("incidentType"),
        class: "govuk-!-width-half",
        nonce: cspNonce
      }) }}

      {{ govukCheckboxes({
        classes: "govuk-checkboxes--small",
        name: "incidentStatuses",
        id: "incidentStatuses",
        fieldset: {
          legend: {
            text: statusCheckboxLabel,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: statusItems | govukMultipleCheckedItems(formValues.incidentStatuses),
        errorMessage: errors | findFieldInGovukErrorSummary("incidentStatuses")
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Filter",
          preventDoubleClick: true,
          type: "submit",
          attributes: {
            "data-test": "filter-submit"
          }
        }) }}

        {% if not noFiltersSupplied %}
          <a href="?" class="govuk-link--no-visited-state" id="clearFilter">Clear</a>
        {% endif %}
      </div>
    </form>
  </div>

  {% if reports.length > 0 %}

    {% set rows = [] %}
    {% for report in reports %}
      {% set ref %}{{ report.reportReference }}{% endset %}
      {% set rows = (rows.push(
        [
          { html: "<a href='/reports/" + report.id + "'>" + ref + "</a>" },
          { text: typesLookup[report.type] or report.type},
          { text: report.incidentDateAndTime | dateAndTime },
          { text: report.description },
          { text: statusLookup[report.status] or report.status },
          { text: usersLookup[report.reportedBy].name or report.reportedBy }
        ]
      ), rows) %}
    {% endfor %}

    <div class="app-sortable-table-container govuk-!-margin-top-4">
      {{ govukTable({
        caption: "Incidents",
        captionClasses: "govuk-visually-hidden",
        classes: "app-sortable-table",
        head: tableHead,
        rows: rows
      }) }}
    </div>

    {{ mojPagination(paginationParams) }}

  {% else %}
    No incidents found.
  {% endif %}

{% endblock %}
