{% extends "partials/layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "macros/dpsCard/renderDpsCard.njk" import renderDpsCard %}
{% from "macros/dpsCard/renderDpsCards.njk" import renderDpsCards %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  {% if environment === "prod" %}

    {{ govukWarningText({
      text: "This service is not ready for use.",
      iconFallbackText: "Warning"
    }) }}

  {% else %}

    <h1 class="govuk-heading-l">Incident reporting</h1>

    {% call renderDpsCards() %}
      {{ renderDpsCard({
        heading: "Report an incident",
        description: "TODO",
        href: "/create-report"
      }) }}
      {{ renderDpsCard({
        heading: "View incidents",
        description: "TODO",
        href: "/incidents"
      }) }}
      {{ renderDpsCard({
        heading: "Search all incidents",
        description: "TODO",
        href: "/incidents"
      }) }}
    {% endcall %}

  {% endif %}

{% endblock %}
