{% extends "partials/layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "macros/dpsCard/renderDpsCard.njk" import renderDpsCard %}
{% from "macros/dpsCard/renderDpsCards.njk" import renderDpsCards %}

{% set pageTitle = applicationName %}
{% set bodyClasses = "app-home" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  {% if environment === "prod" %}

    {{ govukWarningText({
      text: "This service is not ready for use.",
      iconFallbackText: "Warning"
    }) }}

  {% endif %}

  <h1 class="govuk-heading-l">Incident reporting</h1>

  {% call renderDpsCards() %}

    {# create #}
    {% if permissions.canCreateReportInActiveCaseload %}
      {{ renderDpsCard({
        heading: "Create an incident report",
        description: "Submit a report for an incident that has taken place in a prison.",
        href: "/create-report"
      }) }}
    {% endif %}
    {# TODO: pecs link is incorrect (because route is not built yet!) #}
    {% if canCreatePecsReport %}
      {{ renderDpsCard({
        heading: "Create a PECS incident report",
        description: "Raise a report for an incident in the Prisoner Escort and Custody Services.",
        href: "/create-report/pecs"
      }) }}
    {% endif %}

    {# search / “dashboard” #}
    {{ renderDpsCard({
      heading: "Search incident reports",
      description: "Review the details for incidents that have taken place in prisons.",
      href: "/reports"
    }) }}

    {# stats reports #}
    {# TODO: will the management reporting tile need a separate role? #}
    {{ renderDpsCard({
      heading: "Management reporting",
      description: "Reports that include in-depth data about different incidents in prisons.",
      href: "/management-reporting"
    }) }}

  {% endcall %}

{% endblock %}
