{% extends "partials/layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Incident reporting</h1>

{% endblock %}
