{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% set pageTitle = applicationName + " - Report" %}
{% set mainClasses = "govuk-body" %}
{% block content %}
  <h1>Report '{{ report.title }}'</h1>

  {{ govukTable({
  caption: "Report details",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Type"
      },
      {
        text: report.type
      }
    ],
    [
      {
        text: "Title"
      },
      {
        text: report.title
      }
    ],
    [
      {
        text: "Reference"
      },
      {
        text: report.reportReference
      }
    ],
    [
      {
        text: "Status"
      },
      {
        text: report.status
      }
    ],
    [
      {
        text: "When reported"
      },
      {
        text: report.reportedAt | dateAndTime
      }
    ],
    [
      {
        text: "Reported by"
      },
      {
        text: report.reportedBy
      }
    ],
    [
      {
        text: "Description"
      },
      {
        text: report.description
      }
    ]
  ]
  }) }}

  <h2>Prisoners involved</h2>
  {%- if report.prisonersInvolved.length > 0 -%}
    <ul>
      {%- for prisonerInvolved in report.prisonersInvolved -%}
        <li>
          <a href="{{ dpsUrl }}/prisoner/{{ prisonerInvolved.prisonerNumber }}">
            {{ prisonerInvolved.prisonerNumber }}
          </a>
          ({{ prisonerInvolved.prisonerRole }}) -
          {% if prisonerInvolved.outcome %}
            Outcome: {{ prisonerInvolved.outcome }}
          {% else %}
            No outcome
          {% endif %}
        </li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    No prisoners involved.
  {%- endif -%}

  <h2>Staff involved</h2>
  {%- if report.staffInvolved.length > 0 -%}
    <ul>
      {%- for staffInvolved in report.staffInvolved -%}
        <li>{{ staffInvolved.staffUsername }} ({{ staffInvolved.staffRole }})</li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    No staff involved.
  {%- endif -%}

  <h2>Responses</h2>
  {%- if report.questions.length > 0 -%}
    {%- set questionsRows = [] -%}
    {%- for question in report.questions -%}
      {%- if question.responses.length > 0 -%}
        {%- set responses = question.responses | join('<br />', "response") -%}
      {%- else -%}
        {%- set responses = 'Not answered' -%}
      {%- endif -%}

      {# Rows of questions (with their responses) #}
      {%- set questionsRows = (questionsRows.push([
        { text: question.question },
        { html: responses }
      ]), questionsRows) -%}
    {%- endfor -%}

    {{ govukTable({
        caption: "",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: questionsRows
    }) }}
  {%- else -%}
    No responses.
  {%- endif -%}

  <h2>Correction requests</h2>
  {%- if report.correctionRequests.length > 0 -%}
    <ul>
      {%- for correctionRequests in report.correctionRequests -%}
        <li>
          {{ correctionRequest.reason }} ({{ correctionRequest.descriptionOfChange }})
        </li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    No correction requests.
  {%- endif -%}
{% endblock %}
